<div class="page about active">
    
    <div class="inline-actions edit-actions inline-container">
        <div class="inline"></div>
    </div>    
    
    <div class="page-views analysis-page-views">
        
        <div class="page-view" data-view="dynamic-wallet-trend">
            <div class="page-title">
                <h2>Dynamic Trend</h2>                 
                <div class="tooltip-preview dynamic-wallet-trend">
                    <div class="total"></div>
                    <div class="date"></div>
                </div>
            </div>            
            <div class="widget dynamic-wallet-trend" id="dynamic-wallet-trend"></div>
            
        </div>

        <div class="page-view" data-view="wallet-structure">
            
            <div class="page-title">
                <h2>Structure</h2>  
                <div class="tooltip-preview wallet-structure">
                    <div class="total"></div>
                    <div class="date"></div>
                </div>
            </div>                            
            <div class="widget wallet-structure" id="wallet-structure"></div>
            
        </div>
        
        <div class="page-view" data-view="wallet-strength">
            
            <div class="page-title">
                <h2>Strength</h2>                 
                <div class="tooltip-preview wallet-strength">
                    <div class="total"></div>
                    <div class="date"></div>
                </div>                
            </div>                                          
            <div class="widget wallet-strength" id="wallet-strength"></div>
            
        </div>
           
    </div>    
</div>

<script type="text/javascript">

    var stock_chart;
    var series_copy;

    if ($(window).width()<996){
        $('.page-views').not('.slick-initialized').slick({
            arrows:false,
            dots:false,
            initialSlide:1
        });
    }
 

    var makeSumSeries = function (chart) {
        var series = chart.series,
            each = Highcharts.each,
            sum,
            x=[],
            flag;
        series[series.length - 1].update({
            data: []
        }, false);
        
        if (config.debug) console.log(series);
        each(series, function(p,z){
            if (config.debug) console.log(p.visible);
            if(p.visible===true){
            each(p.xData, function(serie,i){
               
                flag=true;
                for(var b=0;b<x.length;b++){
                    if(serie===x[b]){
                        flag=false;
                   }
               }
               if(flag){
                    x.push(serie);
               }
           });
            }
        });
        
        if (config.debug) console.log(x);
        for (var i = 0; i < x.length; i++) {
            sum = 0;
            each(series, function (p, k) {
                if (p.name!=='Total' && p.visible === true) {
                    each(p.xData, function (ob, j) {
                        if (ob === x[i]) {
                            sum += p.yData[j];
                        }
                    });
                }
            });
            series[series.length - 1].addPoint({
                y: parseFloat(sum.toFixed(2)),
                x:  x[i]
            }, false);
        }
        chart.redraw();
    };

    function add_series(graph,series,title){

        graph.addSeries({
            data: series,
            //type: 'ohlc',
            name: title,
            tooltip: {
                valueDecimals: 2,
                pointFormat: '{point.y}'
            }
        });     
    }
    
    function dynamic_wallet_trend(){
        
        if (config.debug) console.log('Dynamic Wallet Trend');
        $.ajax({
            url: config.api_url,
            data: { endpoint: '/wallet/trend' },
            type: 'GET',
            dataType: 'JSON',
            cache: false,
            
            success: function(response){
                if (config.debug) console.log(response);                
                series = response.series;
        
                // Wallet Strength
                var totals  = [];
                var margins = [];
                var symbols = [];                
                $.each(response.series,function(index,serie){
                    symbols.push(index);
                    totals.push(serie.total[serie.total.length - 1][1]);
                    margins.push(serie.margin[serie.margin.length - 1][1]);
                });
                
                load_apexcharts(function(){
                    wallet_strength(symbols,totals,margins);
                    wallet_structure(symbols,totals,margins);
                });
                
                if (!response.series){
                    $('#dynamic-wallet-trend').html('<div class="no-transactions"><div class="icon icon-trending_up"></div><div class="title">To see graph you need to have some active transactions in your wallet.</div></div>');
                    return;
                }  
                
                stock_chart = Highcharts.stockChart('dynamic-wallet-trend', {
                    global: {
                        useUTC: false
                    },
                    title: false,
                    scrollbar: { enabled: false },
                    navigator: { enabled: false },
                    xAxis: {
                        crosshair: true,
                        snap:false,
                        opposite: true
                    },
                    yAxis: {
                        crosshair: true,
                        snap:false
                    },
                    tooltip: {
                        positioner: function () {
                            if ($('body').hasClass('stock-price-pro-mode')) return { x: 50, y: 0 }
                            else return { x: 10, y: 0 };                                                        
                        },
                        pointFormatter:function(){
                            
                            if (config.debug) console.log(this);
                            $('.tooltip-preview.dynamic-wallet-trend .total').text(format_price(this.y,2));
                            $('.tooltip-preview.dynamic-wallet-trend .date').text(this.series.name + ', '+format_date(this.x));
                            
                            return '';
                        },
                        split: false,
                        followTouchMove: true,
                        followPointer:false
                    },
                    stockTools:{
                      gui: { enabled: false }  
                    },
                    chart:{
                        spacing:[15,15,15,15],
                        type: 'line'
                    }, 
                    plotOptions: {
                        series: {
                            lineWidth: 1,
                            states: {
                                hover: { enabled: true }
                            },
                            events: {
                                hide: function () {
                                    makeSumSeries(this.chart);
                                },
                                show: function () {
                                    makeSumSeries(this.chart);
                                }
                            }
                        }                                               
                    },
                    legend: { enabled: true }                    
                });                
                
                $.each(response.series,function(index,serie){
                    if (settings.dynamic_trend==='total') add_series(stock_chart,serie.total,index);
                    else add_series(stock_chart,serie.margin,index);                    
                });
                var label='Margin';                
                if (settings.dynamic_trend==='total') label='Total';                
                
                stock_chart.addSeries({
                    data: [],
                    name: label
                });
                makeSumSeries(stock_chart);

            },
            error: function(response){
                if (config.debug) console.log(response);
            }
        });
        
    }
    
    function wallet_strength(symbols,totals,margins){
               
        if (symbols.length === 0){
            $('#wallet-strength').html('<div class="no-transactions"><div class="icon icon-stats-bars"></div><div class="title">To see graph you need to have some active transactions in your wallet.</div></div>');
            return;
        }               
        let options = {
            series: [{
                name: 'Total',
                data: totals
            }, {
                name: 'Margin',
                data: margins
            }],
            chart: {
                type: 'bar',
                height: $('.widget.wallet-strength').height(),
                toolbar: { show:false },
                offsetY: 0
            },
            dataLabels: {
                enabled:false
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                    barHeight:'30px',
                    borderRadius:0
                },
            },
            grid:{
                padding: { bottom:10 },
                borderColor: settings.design.color_bg
            },            
            xaxis: {
                categories: symbols,
                axisBorder:{ color: settings.design.color_bg }
            },
            tooltip: {
                custom: function ({series, seriesIndex, dataPointIndex, w}) {
                    //console.log(series[seriesIndex][dataPointIndex]);
                    //console.log(w.globals.labels[dataPointIndex]);
                    //console.log(w.globals.seriesNames[seriesIndex]);                    
                    $('.tooltip-preview.wallet-strength .total').text(format_price(series[seriesIndex][dataPointIndex],2)+ ' '+ settings.display_currency);
                    $('.tooltip-preview.wallet-strength .date').html(w.globals.seriesNames[seriesIndex] + ': <b>'+w.globals.labels[dataPointIndex]+'</b>');                        

                    return;
                }
            },
            fill: {
                opacity: 1
            }
          };

        $("#wallet-strength").html('');
        new ApexCharts(document.querySelector(".page-view:not(.slick-cloned) #wallet-strength"), options).render();
        
    }
   
    function wallet_structure(symbols,totals,margins){
             
        if (symbols.length === 0){
            $('#wallet-structure').html('<div class="no-transactions"><div class="icon icon-donut_large"></div><div class="title">To see graph you need to have some active transactions in your wallet.</div></div>');
            return;
        }
        var series = margins;       
        if (settings.analysis_scope==='total'){
            series = totals;
        }
        
        var grand_total = 0;
        $.each(series,function(index,serie){
            grand_total += serie; 
        });
        
        let options2 = {
            series: series,
            labels: symbols,

            chart: {                                
                type: 'donut',                                                                
                fill: {
                    type: 'gradient'
                },
                height:420
            },
            legend: {
                position:'bottom',
                fontSize: '14px',
                fontFamily: 'gotham-regular',
                itemMargin: {
                    horizontal: 10,
                    vertical: 5
                }                                        
            },
            plotOptions: {
                pie: {
                  donut:{
                      size:'95%',
                      labels: { 
                          show:true,
                          value:{
                            formatter: function(value, opts){
                                return parseFloat(value).toFixed(2)+ '%';                                
                            }
                          },
                          total: {
                            show: true,
                            label: 'All',
                            color: '#7ebd0b',
                            formatter: function (chart) {
                                return '100.00%';
                            }

                          }
                      }
                  }
                }
            },
            stroke:{ colors: [settings.design.color_bg2], width:1 }
        };
        
        $("#wallet-structure").html('');
        new ApexCharts(document.querySelector(".page-view:not(.slick-cloned) #wallet-structure"), options2).render();
                
    }
    $(document).ready(function(){
        switcher({ key: 'swipeable', class: 'icon-swipe',  value: settings.swipeable ? settings.swipeable : 'false'},function(){ swipeable(); }); // => ui.js   
        switcher({ 
            key: 'editable',  
            class: 'icon-settings1', 
            value: settings.editable  ? settings.editable :  'false'},
            function(){ editable();  // => ui.js                                              
        });    
        changer({ 
            title: 'Dynamic trend', 
            key: 'dynamic_trend', 
            values: { 'margin':'in Margin', 'total': 'in Total' },
            click: function(el){ 
                updateSettings('dynamic_trend',$(el).find('select').val()); 
                dynamic_wallet_trend();                  
            }
        });        
        dynamic_wallet_trend();        
    });    
    
    
    

</script>