
    <div class="screen wide">
        <table class="leafs" data-src="all"></table>
    </div>

<script type="text/javascript"> 
    
    $('.leafs').attr('data-view',settings.wallet_view2);
   
   
    $.getScript('/extensions/wallet/media/js/observed'+(config.minify===1 ? '.min' : '')+'.js?version='+config.version,function(){
        $.getScript('/extensions/wallet/media/js/actions_item'+(config.minify===1 ? '.min' : '')+'.js?version='+config.version);  
        $.getScript('/extensions/wallet/media/js/sorting'+(config.minify===1 ? '.min' : '')+'.js?version='+config.version);
        
        get_currencies(function(){
            observedReload();
            //smooth_scrolling();
        });          
    });

    
    $(document).ready(function(){
       
        button({ 
        class: 'icon-btn icon-search2' }, 
        function(){                        
            $.ajax({
                url:"/extensions/entities/views/popups/search.html",
                cache:false,
                success: function(data){ openPopup(data); button({ class: 'icon-btn popup-btn icon-clear' }, function(){ closePopup(); }); },
                error: function(e){ if (config.debug) console.log(e); }
            });                                
        }); 
        /*
        button({ 
        class: 'icon-btn icon-settings' }, 
        function(){                        
            $.ajax({
                url:"/extensions/wallet/views/popups/config.html",
                cache:false,
                success: function(data){ openPopup(data); button({ class: 'icon-btn popup-btn icon-clear' }, function(){ closePopup(); }); },
                error: function(e){ if (config.debug) console.log(e); }
            });                                
        });              
        */
    });      
    
    $(document).off('click','.leafs.empty');
    $(document).on('click','.leafs.empty',function(){       
       $('.footer .icon-search2').click();        
    });    
    
</script>