    
    <div class="page view-grid active">                                             

        <div class="wallets hide-scroll"> 

            <div class="wallet active" data-id="0" data-action="slickGoTo">
                <div class="info">                    
                    <div class="label"> 
                        <div class="owner">Not logged</div>                        
                        <div class="privacy">Silent</div>
                    </div>
                    <h3 class="id"><span class="icon icon-bookmark"></span></h3>
                </div>            
                <div class="results">
                    <div class="field">
                        <span class="label">Margin:</span>
                        <span class="margin important">0,00</span>
                        <span class="display-currency"></span>
                    </div>
                    <div class="field">
                        <span class="label">Total:</span>
                        <span class="total">0,00</span>
                        <span class="display-currency"></span>
                    </div>                    
                </div>
            </div>

            <div class="wallet sold" data-id="1" data-action="slickGoTo">
                <div class="info">
                    <h3 class="name">Sold</h3>
                    <div class="label"></div>
                </div>            
                <div class="results">
                    <div class="field">
                        <span class="label">Margin:</span>
                        <span class="total important">0,00</span>
                        <span class="display-currency"></span>
                    </div>
                    <div class="field">
                        <span class="label">Percentage:</span>
                        <span class="margin">0%</span>
                    </div>
                </div>
            </div>
            <div class="wallet funds" data-id="2" data-action="slickGoTo">
                <div class="info">
                    <h3 class="name">Funds</h3>
                    <div class="label"></div>
                </div>            
                <div class="results">
                    <div class="field">
                        <span class="label">Funds:</span>
                        <span class="funds-total important">0.00</span>
                        <span class="display-currency"></span>
                    </div>    
                    <div class="field">
                        <span class="label">USD</span>
                        <span class="funds-total-base">0.00</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="inline-actions edit-actions inline-container">
            <div class="inline">        
            </div>
        </div>
        <div class="page-views">

            <div class="wallet-items active"></div>

            <div class="wallet-items sold">
                <p>You don't have any sold transactions yet.</p>
            </div>

            <div class="wallet-items funds">                                    
                <p class="info">You don't have any static funds added yet.</p>
            </div>        
        </div>

    </div>
    
    
    <script type="text/javascript" src="/extensions/wallet/media/js/actions_wallet.js?v=7.0.15"></script>  
    <script type="text/javascript" src="/extensions/wallet/media/js/actions_item.js?v=5.0.9"></script>  
     
    <script type="text/javascript" src="/extensions/wallet/media/js/sorting.js?v=2.0.0"></script>
    <script type="text/javascript" src="/extensions/wallet/media/js/autosuggestions.js?v=3.0.0"></script>   
    
    <script type="text/javascript"> 
        
        function wallet_slick(){
             $('.page-views').not('.slick-initialized').slick({
                 arrows:false,
                 dots:false,
                 infinite: true,
                 initialSlide:0
             }).on('beforeChange', (event, slick, currentSlide, nextSlide) => {
                 if (currentSlide !== nextSlide) { 

                    $("html").animate({scrollTop: 0}, "slow");
                    $('.wallets .wallet').removeClass('active');
                    switch (nextSlide){
                        case 0:                           
                            $('.wallet[data-id="0"]').addClass('active'); 
                            $('.wallets').stop().animate({scrollLeft:0}, 800, 'swing'); 
                            $('.wallet-popup').attr('data-popup','add-new-stock');
                            break;
                        case 1: 
                            $('.wallet[data-id="1"]').addClass('active'); 
                            $('.wallets').stop().animate({scrollLeft:200}, 700, 'swing'); 
                            $('.wallet-popup').attr('data-popup','add-new-stock');
                            break;
                        case 2: 
                            $('.wallet[data-id="2"]').addClass('active'); 
                            $('.wallets').stop().animate({scrollLeft:400}, 700, 'swing'); 
                            $('.wallet-popup').attr('data-popup','funds-update');
                            break;
                    }
                    reload();
                 }
             }); 
        }
        wallet_slick();
        $(document).on('click','.wallet[data-action="slickGoTo"]',function(e){ $('.page-views').slick('slickGoTo',$(this).attr('data-id')); e.preventDefault(); });


        //$('.wallets .wallet').removeClass('active'); 
        //$('.wallet[data-id="funds"]').addClass('active'); 
        //$('.wallets').stop().animate({scrollLeft:400}, 700, 'swing');
        //$('.wallet-popup').attr('data-popup','funds-update');
        

        
        $(document).ready(function(){
            //$('.page-views').slick('slickGoTo',2); 
            // UI                        
            button({ 
                class: 'icon-btn icon-search2' }, 
                function(){ location.href='/entities'; });
                    
            if (me.username){
                
                changer({ 
                    title: 'Layout', 
                    key: 'wallet_layout', 
                    values: { 'grid': 'Grid', 'list':'List', 'list-small': 'Table (prices)', 'list-small-results': 'Table (results)'},
                    click: function(el){ 
                        updateSettings('wallet_layout',$(el).find('select').val());
                        $('.page').removeClass('view-grid view-list view-list-small view-list-small-results').addClass('view-'+$(el).find('select').val());
                    },
                    load: function(el){
                        $('.page').removeClass('view-grid view-list view-list-small view-list-small-results').addClass('view-'+$(el).find('select').val());
                    }
                });
                changer({ 
                    title: 'Switch behavior', 
                    key: 'wallet_switch_behavior', 
                    values: { 'itself': 'Itself', 'others':'others'},
                    click: function(el){
                        updateSettings('wallet_switch_behavior',$(el).find('select').val());
                    }
                });
                changer({ 
                    title: 'Trend size', 
                    key: 'wallet_trend_size', 
                    values: { '5-days': '5 Days', '5-weeks':'5 Weeks', '6-months': '6 Months' },
                    click: function(el){
                        updateSettings('wallet_trend_size',$(el).find('select').val());
                        init();
                    }
                });                                              
                
                get_currencies(function(){
                    init();              // => actions_wallet.js
                    smooth_scrolling();  // => ui.js
                });
            }
                        
        });
        $(document).on('click','.silent-transaction',function(){
            $('body').addClass('with-popup').prepend('<div class="popup-info"><div class="popup-info-body"><div class="icon icon-user-secret"></div><div class="title">Silent transaction</div><div class="description">This transaction was added in silent mode <b>with historical price/date</b>. It will not be ranked and visible in case you would switch your profile to <b>Player mode</b> in settings.</div></div></div>');
        });
       
    </script>   