.prevent-ipad-rubberscroll, .prevent-ipad-rubberscroll body { position: fixed; overflow: hidden; }
.prevent-ipad-rubberscroll main { width: 100vw; height: 100vh; overflow-y: scroll; -webkit-overflow-scrolling: touch; }


/* Ipad Horizontal */
@media only screen and (min-width: 766px) {
   .view-box .mystock-container, .view-grid .mystock-container, .view-minimal .mystock-container { 
       width:calc(33.3333% - 10px); 
   }
   .players .box { 
       width:calc(33.3333% - 10px); 
   }
   .entities .box {
       width:calc(25% - 10px);
   }
   .items-container .item {
       width:calc(33.3333% - 10px);
   }
   .stock-view .results-info .logo {
       max-height:150px;       
   }
   .stock-view .cover {
       margin-bottom:-95px;
   }
   .stock-view .results-info:not(.collapsed).with-cover .widget-collapse {
       top:100px;
   }
   .stock-view .results-info:not(.collapsed) h2 {
       font-size:20px;
       line-height:28px;
       margin-bottom:15px;
   }
   .stock-view .results-info-table .label, .stock-view .results-info-table .value{
       font-size:var(--size-regular);
       line-height:18px;
   }
   .range-selector {
       max-width:360px;
   }
   .graph-editor {
       display:flex !important;
       width:calc(100% - 515px);
   }
   
   .with-popup .footer-container { left:auto; }
   .quick-tools .price-preview {
        flex-grow: 1;
   }
   .quick-tools .range-selector {
       width:400px;
       flex-basis:400px;
       display:block !important;
   }
   .quick-tools .actions { display:inline-flex !important; }
   .quick-tools .actions .title { display:block;}
   .quick-tools .actions > div { padding:0 5px 0 0px; margin-left:10px; border: 1px solid var(--color-bg); }
   .quick-tools .icon-btn { margin-left:5px; }
   
  
   
}


/* Ipad Vertical */
@media only screen and (min-width: 996px) {
    
    .results {
        justify-content:flex-start;
    }
    .page.settings .tabs {
        align-self:flex-end;
    }
    
    .stock-view .results-info {
        text-align:center;
    }
    .stock-view .results-info-table {
        text-align:left;
    }
    .stock-view .results-info table {
        max-width:500px;
    }
    .footer .hamburger {
        font-size:32px;
    }
    .wallet-header-grip {
        bottom:15px;
        right:calc(50% - 26px);
        font-size:50px;
    }
    .actions .btn { padding:8px 15px; }
    .actions .btn .icon{ font-size:20px; }
    .popup.active { bottom:62px; }
    
    .entity-main-info-container { display:flex; flex-wrap:wrap; }
    .entity-main-info-container .tab-container { width:100%; margin:0; }
    
    nav {
        height:100vh;
        right:0;
    }
    nav .load-menu { margin-bottom:12.5px;}
    .app-body {
        background-color: var(--color-bg);
    }
    .app {
        display:flex;
        flex-wrap:nowrap;
    }
    .footer-container {
        border:0; 
    }
    
    .nav-active .footer-container {
        right:253px;
    }
    
    .widgets {
        display:flex;
        flex-wrap:wrap;
        
    }
    .widgets .widget {
        width:calc(50% - 20px);
        flex-basis:calc(50% - 20px);
        margin:10px;
    }
    
    .entities h2 { text-align:left; }
    
    .view-grid .mystock-container, .view-box .mystock-container, .view-minimal .mystock-container {
        width: calc(16.6666% - 10px);
    }    
    .view-grid .wallet-items .mystock-container, .view-box .wallet-items .mystock-container, .view-minimal .wallet-items .mystock-container {
        width: calc(25% - 10px);
    }     
    .view-list .wallet-items, .view-list-small .wallet-items, .view-list-small-results .wallet-items { display:flex; flex-wrap:wrap; }
    .view-list .wallet-items .mystock-container, .view-list-small-results .wallet-items .mystock-container {
        width: calc(50% - 10px);
        margin:0 5px 10px;
    }
    .view-list-small .wallet-items .mystock-container {
        width: calc(33.3333% - 10px);
        margin:0 5px 10px;
    }
    .players .box {
        width: calc(16.6666% - 10px);
    }
    .entities .box {
        width: calc(16.6666% - 10px);
    }
    .items-container .item {
        width:calc(16.6666% - 10px);
    }
    .moves .move { width:calc(20% - 10px); }

   .stock-view .results-info .logo {
       max-height:70px;       
   }
   .stock-view .cover {
       margin-bottom:-40px;
   }
   .stock-view .results-info:not(.collapsed).with-cover .widget-collapse {
       top:40px;
   }    
    .quick-tools {
        width:100%;
   }

   .page.more-info > .box {
       width: calc(50% - 30px);
       float:left;
   }
   .page.more-info .boxes {
       float:left;
       width:calc(50% - 30px);
       max-width:calc(50% - 30px);
       margin-left:15px;
   }
   .page.more-info .box.right {
       float:right;
   }
        
    
    .with-popup .footer {
        min-width: calc(33vw - 20px);
        max-width: calc(33vw - 20px);
    }

    .page-view[data-view="overview"] { float:right; width:33.3333%; }
    .page-view[data-view="dashboard"] { float:left; width:66.6666%; margin-top:15px; height:calc(100vh - 25px); }
    .page-view[data-view="info"] { float:right; width:33.3333%; margin-top:-15px; }
    .page-view[data-view="financial"] { float:left; width:66.6666%; margin-top:5px; }
    .page-view[data-view="related-sector"] { clear:both; }
    .related-container { float:left; width: calc(66.6666% + 5px); }
    .related .items-container { width:100%; flex-wrap:wrap; padding:0; margin-left:5px; }
    .related .items-container .item { width:calc(20% - 10px); }
    
    .stock-page-views { padding-bottom:90px; }
    #stock-price { height: calc(100vh - 88px); min-height: calc(100vh - 97px); }
    
    .graph-container { margin:0 -5px 0 10px; }
    .widgets {
        margin: 10px -5px 0 10px;
        justify-content:space-between;
    }
    .widgets .widget {
        width:calc(50% - 5px);
        flex-basis:calc(50% - 5px);
        margin:0 0px 10px;

    }
    .heading-container { }
    .chart.stock-price-container {
        border-radius: var(--border-radius1);
    }
    
    .popup.popup-advanced-charting.active {
        max-height: calc(100vh - 86px);
    }
    
    .wallets {
        flex-direction:column-reverse;
        position:fixed;
        z-index:2;
        width:272.5px;
        right:0;
        bottom:75px;
    }
    
    .wallet-views { width:calc(100vw - 280px); }    
     
    .player-view .overview { float:left; width:50%; }
    .player-view .results { padding:10px 10px 0 0; }
    .player-view .results .box { padding:32px 15px; }
    .player-view .trophies .trophy { width:calc(12.5% - 30px)}
    .player-view .tabs { clear:both; }
    
    .analysis-page-views { padding-bottom:75px; }
    .page-view[data-view="dynamic-wallet-trend"] { float:left; width:70%; }
    .page-view[data-view="wallet-strength"] { float:right; width:30%; }
    .page-view[data-view="wallet-structure"] { float:right; width:30%; }
    
    .widget.wallet-strength { }
    .widget.wallet-structure { height:calc(50vh - 90px); }
    .widget.dynamic-wallet-trend { height:calc(100vh - 100px); }
    
    .floating-column {
        position: fixed;
        width: calc(33.3333% + 5px);
        height: 100vh;
        overflow-y: scroll;
        top: 0;
        right: -5px;
        z-index: 999;
        padding-bottom: 100px;
    }
    .floating-column > div { 
        width:100% !important; 
        float:none !important; 
    }    
    
}
@media only screen and (min-width: 1445px) {

    .with-popup .footer {
        min-width: calc(25vw - 25px);
        max-width: calc(25vw - 25px);
    }
    
    .page-view[data-view="overview"] { float:right; width:25%; }
    .page-view[data-view="dashboard"] { float:left; width:75%; margin-top:15px; height:calc(100vh - 25px); }
    .page-view[data-view="info"] { float:right; width:25%; margin-top:-15px; }
    .page-view[data-view="financial"] { float:left; width:75%; margin-top:5px; }
    .related-container { float:left; width:calc(75% + 5px); }

    .items-container .item {
        width:calc(12.5% - 10px);
    } 
    .players .box {
        width:calc(12.5% - 10px);
    }
    .moves .move {
        width:calc(12.5% - 10px);
    }
    
    .view-grid .mystock-container, .view-box .mystock-container, .view-minimal .mystock-container {
        width: calc(12.5% - 10px);
    }
    .view-grid .wallet-items .mystock-container, .view-box .wallet-items .mystock-container, .view-minimal .wallet-items .mystock-container {
        width: calc(20% - 10px);
    }  
    
    .view-list .wallet-items .mystock-container, .view-list-small .wallet-items .mystock-container, .view-list-small-results .wallet-items .mystock-container {
        width: calc(50% - 10px);
    }
    
    .floating-column {
        position: fixed;
        width: calc(25% + 5px);
        height: 100vh;
        overflow-y: scroll;
        top: 0;
        right: -5px;
        z-index: 999;
        padding-bottom: 100px;
    }
    .floating-column > div { 
        width:100% !important; 
        float:none !important; 
    }    
    
}
