<link rel="stylesheet" type="text/css" href="/extensions/cms/media/css/content.css?v=0.0.33" />

<div class="content" style="opacity:0">
    
    <div class="breadcrumbs">Lesson</div>
    
    <div class="row" data-columns="1" data-chapter="1">
        <div class="column banner">
            <h1>Financial Crisis</h1>
            <p>Good investor takes learnings from history. Learn about important financial crises that happend in last years</p>
            <div class="icon-btn icon-expand_more"></div>        
        </div>
    </div>
    
    
    <div class="row" data-columns="2" data-chapter="5">        
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/day_in_history/subprime-mortage.png" class="avatar" />
            </div>
            <h2>Subpime Mortage Crisis</h2>
            <p>The United States subprime mortgage crisis was a multinational financial crisis that occurred between 2007 and 2010 that contributed to the 2007–2008 global financial crisis.</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Subprime_mortgage_crisis","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=subprime_mortage+crisis","_blank");'></div>
            </div>
        </div>        
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/day_in_history/black-wednesday.png" class="avatar" />
            </div>            
            <h2>Black Wednesday</h2>
            <p>Black Wednesday (or the 1992 Sterling crisis) occurred on 16 September 1992</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Black_Wednesday","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=black+wednesday","_blank");'></div>
            </div>            
        </div> 
    </div>
    <div class="row" data-columns="2" data-chapter="5"> 
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/day_in_history/dotcom-bubble.png" class="avatar" />
            </div>            
            <h2>Dot-Com Bubble</h2>
            <p>The dot-com bubble was a stock market bubble in the late 1990s, a period of massive growth in the use and adoption of the Internet</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Dot-com_bubble","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=dotcom+bubble","_blank");'></div>
            </div>            
        </div>   
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/day_in_history/financial-crisis.png" class="avatar" />
            </div>            
            <h2>Financial Crisises</h2>
            <p>A financial crisis is any of a broad variety of situations in which some financial assets suddenly lose a large part of their nominal value.</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Financial_crisis","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=financial+crisis","_blank");'></div>
                <div class="icon-btn icon-youtube" onclick='window.open("https://www.youtube.com/results?search_query=financial+crisis","_blank");'></div>
            </div>            
        </div>                             
    </div>      
</div>

<script type="text/javascript"></script>