<link rel="stylesheet" type="text/css" href="/extensions/cms/media/css/content.css?v=0.0.31" />

<div class="content" style="opacity:0">
    
    <div class="breadcrumbs">Lesson</div>
    
    <div class="row" data-columns="1" data-chapter="1">
        <div class="column banner">
            <h1>Famous Investors</h1>
            <p>Learnings from others (especially investing gurus) are always most valuable lessons. In this lesson you can read six biographies from Hall-of-Fame of most successfull investors.</p>
            <div class="icon-btn icon-expand_more"></div>        
        </div>
    </div>
    
    
    <div class="row" data-columns="4" data-chapter="5">        
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/famous_investors/warren-buffet.png" class="avatar" />
            </div>
            <h2>Warren Buffet</h2>
            <p>CEO of Berkshire Hathaway, Oracle of Omaha, Most successful investor in the world</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Warren_Buffet","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=warren+buffet","_blank");'></div>
                <div class="icon-btn icon-quote" onclick='window.open("https://www.google.com/search?q=warren+buffet+quotes","_blank");'></div>
            </div>
        </div>        
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/famous_investors/charlie-munger.png" class="avatar" />
            </div>            
            <h2>Charlie Munger</h2>
            <p>Vice-President of Berkshire Hathaway, Closest Business-Partner of W.Buffet, Value Investor</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Charlie_Munger","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=charlie+munger","_blank");'></div>
                <div class="icon-btn icon-quote" onclick='window.open("https://www.google.com/search?q=charlie+munger+quotes","_blank");'></div>
            </div>            
        </div>   
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/famous_investors/george-soros.png" class="avatar" />
            </div>            
            <h2>George Soros</h2>
            <p>Most successful Hungarian Investor, Man Who Broke Bank of England, Businessman & Filantropist</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/George_Soros","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=george+soros","_blank");'></div>
                <div class="icon-btn icon-quote" onclick='window.open("https://www.google.com/search?q=george+soros+quotes","_blank");'></div>
            </div>            
        </div>   
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/famous_investors/milton-friedman.png" class="avatar" />
            </div>            
            <h2>Milton Friedman</h2>
            <p>Nobel-Awarded American economist and statistication, Inventor of significant Economy theories</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Milton_Friedman","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=milton+friedman","_blank");'></div>
                <div class="icon-btn icon-quote" onclick='window.open("https://www.google.com/search?q=milton+friedman+quotes","_blank");'></div>
            </div>            
        </div>                             
    </div> 
    <div class="row" data-columns="4" data-inside="2">        
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/famous_investors/michael-burry.png" class="avatar" />
            </div>
            <h2>Michael Burry</h2>
            <p>American Investor & hedge fund manager, Famous Big-Shorter on subprime mortage crisis in 2007</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Michael_Burry","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=michael+burry","_blank");'></div>
                <div class="icon-btn icon-quote" onclick='window.open("https://www.google.com/search?q=michael+burry+quotes","_blank");'></div>
            </div>            
        </div>        
        <div class="column link">
            <div class="avatar-container">
                <img src="/media/img/learn/famous_investors/peter-lynch.png" class="avatar" />
            </div>            
            <h2>Peter Lynch</h2>
            <p>Investor & mutual fund manager, Author of investing strategic books, Proponent of value investing</p>
            <div class="actions">
                <div class="icon-btn icon-wikipedia" onclick='window.open("https://en.wikipedia.org/wiki/Peter_Lynch","_blank");'></div>
                <div class="icon-btn icon-google" onclick='window.open("https://www.google.com/search?q=peter+lynch","_blank");'></div>
                <div class="icon-btn icon-quote" onclick='window.open("https://www.google.com/search?q=peter+lynch+quotes","_blank");'></div>
            </div>            
        </div>                               
    </div>     
</div>

<script type="text/javascript"></script>