<div class="page about active">
    <div class="box">
        <h1>Version</h1>
        <p>
            Your current version: <b><span class="version"></span></b><br />
            Last updated at: <b><span class="version_update"></span></b>
        </p>
    </div>
    <div class="box">
        <h1>Feedback</h1>
        <p>If You...</p>
        <ul>
            <li>Would like to leave your opinion on app</li>
            <li>Would like to have some feature, that will be useful for you and others</li>                    
            <li>See some bug or sth that is not working</li>
        </ul>
        <a class="button" href="mailto:support@stocktok.online">Contact me</a>
    </div>
    <!--
    <div class="box">
        <h1>Get started</h1>
        <p>Here you can find some useful tips and advices how to use particular features.</p>
        <div class="button load-page" data-page="useful-tips">Useful tips</div>
    </div>
    -->
</div>