<div class="dashboard"> 
    <div class="entities">       
        <h2>Dashboard</h2>
        <a class="box" href="/entities">
            <div class="icon icon-stocks"></div>
            <div class="title">Find</div>
            <div class="label">Nasdaq, Nyse, GPW, New-Connect, Bolsa Madrid, Commodities, Crypto, Forex, Indices</div>
        </a>
        <a class="box" href="/players">
            <div class="icon icon-gamepad"></div>
            <div class="title">Players</div>
            <div class="label">Find players and check their moves to find interesting playing strategies.</div>
        </a>
        <a class="box b-wallet" href="/wallet" style="display:none">
            <div class="icon icon-account_balance_wallet"></div>
            <div class="title">Wallet</div>
            <div class="label">Manage your entities & funds to earn highest margin.</div>
        </a>
        <a class="box b-observed" href="/wallet/observed" style="display:none">
            <div class="icon icon-bookmark"></div>
            <div class="title">Observed</div>
            <div class="label">Quick look on observed entities to check their current performance.</div>
        </a>
        <a class="box b-analysis" href="/wallet/analysis" style="display:none">
            <div class="icon icon-trending_up1"></div>
            <div class="title">Analysis</div>
            <div class="label">Check structure, strength & dynamic of performance of your wallet.</div>
        </a> 
        <a class="box b-settings" href="/settings" style="display:none">
            <div class="icon icon-settings"></div>
            <div class="title">Settings</div>
            <div class="label">Adjust playing parameters, choose your currency and make your own look of app.</div>
        </a>        
        <a class="box b-login" href="/me/login">
            <div class="icon icon-fingerprint"></div>
            <div class="title">Login/Register</div>
            <div class="label">To get all features like wallet, buy/sell, bookmarks, analysis and many more.</div>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){        
        if (me.username){
            $('.b-wallet, .b-analysis, .b-observed, .b-settings').show();
            $('.b-login').hide();
        }        
    });    
</script>