  <div class="footer-container">
    <div class="footer">           
        <div id="popup"></div> 
        <div class="footer-bottom">                
            <div class="heading-container hide-scroll">
                <div class="heading"></div>
            </div>
            <div class="hamburger-container" onclick="load_menu()">
                <div class="hamburger icon-menu"></div>
            </div>
        </div> 
    </div>
</div>
<div class="ios_addtohomescreen hide">
    <span class="icon-ios_share"></span>
    <span class="info">Tap button and Add to homescreen to install Stocktok on your iPhone.</span>
</div>
<script type="text/javascript">
    /*if (ios && localStorage.getItem('note_ios_addtohomescreen')===null){
        $('.ios_addtohomescreen').addClass('active');
    }*/
</script>
    
    