<div class="page active more-info"> 
    
    <div class="box">
        <h2 class="title">What is Stocktok?</h2>

        <img src="/media/img/cms/screenshots.png" class="banner" />
        
        <p>Stocktok is virtual financial manager. You can find assets, manage them in wallet and compete with other players in rankings.
        <br /><br />
        <p><b>Its not based on real cash</b>. Every player is getting virtual 25k $ of funds to play. Than, like in real market, goal is to get as much as it is possible from that.<br /><br />
        
            You can play with different strategies, with different leverages and with advanced wallet approach, in which all assets work together. <br /><br />
            
            If you are not interested in playing, You can switch your wallet to "silent". Which will not be visible for others. Still it can keep assets.
               
        </p>
    </div>
    
    <div class="box">
        <h2 class="title">How to play?</h2>
        
        <h3>Observe</h3>                
        <p>If you've never read about markets & investing, than probably the best way to start is just to observe. You can find in stocks, currencies, commodities, indicies, crypto, tokens. Add them to observed and start some research on a daily basis.
        <div class="icons">
            <div class="icon-search1"></div>
            <div class="icon-bookmark"></div>            
        </div>
        <img src="/media/img/cms/learn.png" class="banner" style="margin-top:30px" />  
        
        
        <h3>Learn</h3>                
        <p>There are plenty possible strategies. Warrent Buffet's longterm value, technical/graph analysis, price vs speculations and many many more. No matter of which strategy you will follow naturally, you will need research.            
        <div class="icons">
            <div class="icon-trending_up1"></div>
            <div class="icon-google"></div>            
            <div class="icon-twitter"></div>            
            <div class="icon-youtube-play"></div>
            <div class="icon-sphere"></div>            
        </div>
        <img src="/media/img/cms/learn.png" class="banner" style="margin-top:30px" />   
            
        <h3>Try</h3>
        <p>Try to invest (virtually) in prefered strategy into your choices. And keep observing and learning. If your wallet will be strong, you can compete with other players in rankings. 
        <div class="icons">
            <div class="icon-shopping_cart"></div>
            <div class="icon-account_balance_wallet"></div>            
            <div class="icon-gamepad"></div> 
            <div class="icon-settings"></div>
        </div>            
        <img src="/media/img/cms/invest.png" class="banner" style="margin-top:30px" /> 
        
    </div>  
    
    <div class="boxes">
        
        <h2 class="title">Links</h2>
        
        <a class="box" onclick="window.open('https://stocktok.website/','_blank');">
            <div class="icon icon-logo1"></div>
            <div class="title">About</div>
            <div class="label">More about stocktok and other tools</div>
        </a>        
        <a class="box" onclick="window.open('https://twitter.com/Stocktok5','_blank');">
            <div class="icon icon-twitter"></div>
            <div class="title">Twitter account</div>
            <div class="label">Informations about newest upgrades & features</div>
        </a>    
        
        <a class="box" onclick="window.open('https://www.instagram.com/stocktok.app/','_blank');">
            <div class="icon icon-instagram"></div>
            <div class="title">Instagram account</div>
            <div class="label">Here you can find some tips in app & tutorials.</div>
        </a> 
        <a class="box" onclick="window.open('https://www.facebook.com/Stocktok-107782422072635','_blank');">
            <div class="icon icon-facebook"></div>
            <div class="title">Facebook page</div>
            <div class="label">Mix content & feedbacks</div>
        </a> 
        <a class="box" onclick="window.open('https://www.youtube.com/channel/UCtjGYX-CcHUf7ZGkagL_5pQ','_blank');">
            <div class="icon icon-youtube-play"></div>
            <div class="title">Youtube channel</div>
            <div class="label">Like instagram for tips & tutorials and some market news (soon)</div>
        </a> 
        <a class="box" onclick="window.open('https://pl.pinterest.com/stocktokapp','_blank');">
            <div class="icon icon-pinterest"></div>
            <div class="title">Pinterest account</div>
            <div class="label">UX/UI, Branding design (soon)</div>
        </a>  
    </div>
</div>