    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME}  -f [OR]
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^(extensions(.*))($) - [L]
    RewriteRule ^(html(.*))($) - [L]
    RewriteRule ^(pages(.*))($) - [L]
    RewriteRule ^(media(.*))($) - [L]
    RewriteRule ^(api(.*))($) - [L]
    RewriteRule ^(robots.txt(.*))($) - [L]
    RewriteRule ^(upload.php(.*))($) - [L]
    RewriteRule ^(upload_logo.php(.*))($) - [L]
    RewriteRule ^(upload_cover.php(.*))($) - [L]
    RewriteRule ^(sw(.*))($) - [L]
    RewriteRule ^(manifest(.*))($) - [L]
    RewriteRule ^(login(.*))($) - [L]
    RewriteRule ^(calculator(.*))($) - [L]
    RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
 