<?php
$config->api_token        = '';
$config->base_url         = 'https://stocktok.app/';
$config->title            = 'Stocktok App';
$config->mode             = 'production';
$config->theme_color      = '#002ce1';
$config->debug            = 'true';

$config->dir_splash       = '/media/img/splash_screen/';
$config->dir_icons        = '/media/img/icons/';