<link rel="stylesheet" type="text/css" href="/extensions/cms/media/css/content.css?v=0.0.31" />
<div class="content">
    
    <div class="row" data-columns="1" data-chapter="1">
        <div class="column banner">
            <h1>Learning Center</h1>
            <p></p>
            <div class="icon-btn icon-expand_more"></div>        
        </div>
    </div>
    
    
    <div class="row" data-columns="2" data-chapter="5">               
        <div class="column link" onclick="load_page('/learn/quizes',true)">
            <div class="avatar-container">
                <img src="/media/img/learn/quizes.png" class="avatar" />
            </div>            
            <h2>Quizes/Lessons</h2>
            <p>In this section you can find interesting facts and learn investing. Every week new quiz or lesson.</p>          
        </div> 
        <div class="column link" onclick="load_page('/learn/chat',true)">
            <div class="avatar-container">
                <img src="/media/img/learn/chat-gpt.png" class="avatar" />
            </div>
            <h2>AI Chat</h2>
            <p>Ask Artificial Intelligence about anything. It will help you to find knowledge on every subject</p>
        </div>         
    </div>     
</div>