<link rel="stylesheet" type="text/css" href="/extensions/learn/media/css/quizes.css?v=0.0.11" />

<div class="quizes" style="opacity:0">
    
    <div class="row-title" style="margin-top:45px">Newest Quizes</div>
    <div class="quiz-container"></div>
</div>

<script type="text/javascript">
    //if (!loader.quizesCSS){ }
    
    $('.quiz-container').html("");
    $.ajax({
        url: config.api_url,
        data: { 
            endpoint: '/quizes'
        },
        type: 'get',
        dataType: 'JSON',
        cache: false,
        success: function(data){                             
             if (!data.quizes) return;
             if (config.debug) console.log('Quizes:',data.quizes);
             
             $.each(data.quizes,function(i,quiz){
                let el = $('<div class="quiz"></div>')
                    .append('<div class="img-container"><img src="'+quiz.img+'?ver=1.0" /></div>')
                    .append('<h2>'+quiz.name+'</h2>')
                    .append('<p> '+quiz.desc+'</p>')
                    .append('<div class="actions"></div>');

                    if (quiz.debug){
                        $(el).find('.actions').append($('<div class="btn primary">Quiz: Soon</div>').bind('click',function(){
                            load_page('/learn/quiz/'+quiz.code,true);
                        }));                        
                    }else{
                        $(el).find('.actions').append($('<div class="btn primary'+(quiz.collected ? ' active' : '')+'">Quiz'+(quiz.collected ? ' '+quiz.collect+'$ <span class="icon-check"></span>' : (me ? ' collect: Virtual '+quiz.collect+'$' : '') )+'</div>').bind('click',function(){
                            load_page('/learn/quiz/'+quiz.code,true);
                        }));                        
                    }

                if (quiz.learn){
                    $(el).find('.actions').append($('<div class="btn primary">Learn</div>').bind('click',function(){
                        load_page('/learn/lesson/'+quiz.code,true);
                    }));    
                }

                $('.quiz-container').append(el);                 
             });             
        },
        error: function(response){ if (config.debug) console.log(response); }
    });
    
</script>