

    <div class="items-container"></div>

    <script type="text/javascript" src="/extensions/entities/media/js/search.js?v=1.0.2"></script>
    <script type="text/javascript" src="/extensions/wallet/media/js/actions_item.js?v=8.0.1"></script> 
    
    <script type="text/javascript">

        get_observed_symbols();
        get_currencies();
        
        if (mvc.controller){ search = mvc.controller; }
        get_search_items();
        

        let scrollTimer,
        doneScrollInterval = 250;

        $(window).scroll(function () {

            if ($(document).height()-$(this).height()-10 < $(this).scrollTop()) {
                if (scrollTimer) {
                    clearTimeout(scrollTimer);
                }
                scrollTimer = setTimeout(function () {
                    get_search_items();
                }, doneScrollInterval);
            }
        });

        button({ class: 'icon-btn icon-search2' }, function(el){            
                        
            if ($('footer #popup .search').length){ 
                $('footer #popup').html(''); 
                $('.popup-btn').remove();
                $('body').removeClass('with-popup');
            }else{ 
                button({ class: 'icon-btn popup-btn icon-clear' }, function(){ $('.popup-btn').remove(); $('footer #popup').html(''); $('body').removeClass('with-popup no-blur'); });
                $('footer #popup').html('<div class="popup active form"><input type="text" class="search" placeholder="Find by symbol or name" /></div>'); 
                $('body').addClass('with-popup no-blur');
                
                if (mvc.controller) $('.popup .search').val(mvc.controller);
            }            
            
        });


        let typeTimer,
        doneTypeInterval = 250;

        $(document).on('keyup','.search',function(){
            search = $(this).val();
            
            if (scrollTimer) {
                clearTimeout(scrollTimer);
            }
            scrollTimer = setTimeout(function () {
                $('.items-container').html('');
                get_search_items();
            }, doneScrollInterval);
                
        });

    </script>