<div class="page active">
    <div class="inline-actions edit-actions inline-container">
        <div class="inline">        
        </div>
    </div>
    <div class="items-container"></div>
</div>   
<script type="text/javascript">
    $.getScript('/extensions/entities/media/js/search.js?version='+config.version,function(){
        if (mvc.controller){ search = mvc.controller; } 
        get_observed_symbols();
        get_currencies();          
        get_search_items();
    }); 
    $.getScript('/extensions/wallet/media/js/actions_item.js?version='+config.version); 
    $(document).ready(function(){
        switcher({ 
            key: 'editable',  
            class: 'icon-settings1', 
            value: settings.editable  ? settings.editable :  'false'},
            function(){ editable();  // => ui.js                                              
        });
        changer({ 
            title: 'Layout', 
            key: 'find_layout', 
            values: { 'grid': 'Grid', 'minimal':'Minimal' },
            click: function(el){ 
                updateSettings('find_layout',$(el).find('select').val());
                $('.page').removeClass('view-grid view-minimal').addClass('view-'+$(el).find('select').val());
            },
            load: function(el){
                $('.page').removeClass('view-grid view-minimal').addClass('view-'+$(el).find('select').val());
            }
        }); 
        changer({ 
            title: 'Sort by', 
            key: 'find_sort', 
            values: { 'alphabetically': 'Alphabetically', 'volume_desc':'Highest volume', 'volume_asc':'Lowest volume' },
            click: function(el){ 
                updateSettings('find_sort',$(el).find('select').val());
                $('.items-container').html('');
                get_search_items();
            },
            load: function(el){
            }
        });         
    });
    let scrollTimer,
    doneScrollInterval = 250;
    $(window).scroll(function () {

        if ($(document).height()-$(this).height()-10 < $(this).scrollTop()) {
            if (scrollTimer) {
                clearTimeout(scrollTimer);
            }
            scrollTimer = setTimeout(function () {
                get_search_items();
            }, doneScrollInterval);
        }
    });
    button({ class: 'icon-btn icon-search2' }, function(el){            
        if ($('footer #popup .search').length){ 
            $('footer #popup').html(''); 
            $('.popup-btn').remove();
            $('body').removeClass('with-popup');
        }else{ 
            button({ class: 'icon-btn popup-btn icon-clear' }, function(){ $('.popup-btn').remove(); $('footer #popup').html(''); $('body').removeClass('with-popup no-blur'); });
            $('footer #popup').html('<div class="popup active form"><input type="text" class="search" placeholder="Find by symbol or name" /></div>'); 
            $('body').addClass('with-popup no-blur');

            if (mvc.controller) $('.popup .search').val(mvc.controller);
        }            
    });
    $(document).off('keyup', '.search');
    $(document).on('keyup','.search',function(){
        search = $(this).val();
        if (scrollTimer) {
            clearTimeout(scrollTimer);
        }
        scrollTimer = setTimeout(function () {
            $('.items-container').html('');
            get_search_items();
        }, doneScrollInterval);
    });
</script>