    <link rel="stylesheet" type="text/css" href="/extensions/entities/media/css/highcharts-tools.css">
        <div class="page page-views stock-page-views active">        
            <div class="page-view stock-view active" data-view="overview">
                <div class="widget box results-info collapsed">
                    <div class="results-info-title">
                        <div class="logo-container"></div>
                        <h2></h2>
                        <div class="price-preview">
                            <div class="info">
                                <span class="price"></span>
                                <span class="currency"></span>
                            </div>
                            <div class="date"></div>
                        </div>
                        <div class="actions-all">
                            <div class="actions">
                               <div class="icon-btn btn-edit icon-settings"></div> 
                            </div>
                            <div class="icon icon-btn icon-expand_more1 widget-collapse"></div>
                        </div>
                    </div>
                    <div class="content">                    
                        <div class="results-info-table">                           
                            <div class="label label-current-symbol">Symbol</div>
                            <div class="value symbol"></div>
                            <div class="label label-market">Market</div>
                            <div class="value market"></div>                       
                            <div class="label label-sector">Sector</div>
                            <div class="value sector"></div>                                                
                            <div class="label label-industry">Industry</div>
                            <div class="value industry"></div>                          
                            <div class="label label-current-price">Price</div>
                            <div class="value current-price"></div>                         
                            <div class="label label-current-volume">Volume</div>
                            <div class="value current-volume">-</div>  
                            <div class="label label-previous-price">Previous</div>
                            <div class="value previous-price"></div>
                            <div class="label label-open-price">Open</div>
                            <div class="value open-price">-</div>                            
                            <div class="label label-daily-change">Daily</div>
                            <div class="value daily-change">-</div>
                            <div class="label label-daily-change-percentage">Daily %</div>
                            <div class="value daily-change-percentage percentage">-</div>
                            <div class="label label-daily-max">Day Max</div>
                            <div class="value daily-max">-</div>
                            <div class="label label-daily-min">Day Min</div>
                            <div class="value daily-min">-</div>
                        </div>
                        <div class="edit">
                            <h3>Choose fields you would like to see here:</h3>
                            <div class="form hidden-fields">
                                <div class="field">
                                    <input type="checkbox" id="v-symbol" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-symbol">Symbol</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-market" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-market">Market</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-sector" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-sector">Sector</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-industry" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-industry">Industry</label>
                                </div>                                
                                <div class="field">
                                    <input type="checkbox" id="v-current-price" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-current-price">Current Price</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-current-volume" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-current-volume">Current Volume</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-previous-price" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-previous-price">Previous Price</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-open-price" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-open-price">Open Price</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-daily-max" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-daily-max">Daily Max</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-daily-min" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-daily-min">Daily Min</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-daily-change" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-daily-change">Daily Change</label>
                                </div>
                                <div class="field">
                                    <input type="checkbox" id="v-daily-change-percentage" data-role="none" checked="CHECKED" class="checkbox" />
                                    <label for="v-daily-change-percentage">Daily Change %</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="page-view" data-view="dashboard">                        
                <div class="chart stock-price-container">  
                    <div id="stock-price" class="stock-price active"></div>                                
                </div>
                <div class="range-selector">                   
                    <div class="labels">
                        <span data-id="1">Today</span>
                        <span data-id="2">1W</span>
                        <span data-id="3">3M</span>
                        <span data-id="4">6M</span>
                        <span data-id="5">1Y</span>
                        <span data-id="6">All</span>
                    </div>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="6" step="1" value="3" class="slider-range" id="stock_chart_range">
                    </div>
                </div>
                <div class="edit-view-actions inline-container">                                
                    <div class="inline"> 
                        <div class="changer-v2">
                            <label for="related_layout">Related layout:</label>
                            <select id="related_layout" onChange="updateSettings('related_layout',$(this).val()); $('.page').removeClass('view-grid view-minimal').addClass('view-'+$(this).val())"> <!-- stockactions.js -->
                                <option value="grid">grid</option>
                                <option value="minimal">minimal</option>
                            </select>
                        </div>                         
                        <div class="changer-v2">
                            <label for="graph_type">Graph type:</label>
                            <select id="graph_type" onChange="updateSettings('graph_type',$(this).val()); generate_graph();"> <!-- stockactions.js -->
                                <option value="line">Line</option>
                                <option value="ohlc">OHLC</option>
                                <option value="area">Area</option>
                            </select>
                        </div>  
                        <div class="changer-v2">
                            <label for="graph_tools">Graph tools:</label>
                            <select id="graph_tools" onChange="updateSettings('graph_tools',$(this).val()); change_graph_tools()"> <!-- stockactions.js -->
                                <option value="true">Show</option>
                                <option value="false">Hide</option>
                            </select>
                        </div>                          
                        <div class="changer-v2">
                            <label for="graph_touch">On touch:</label>
                            <select id="graph_touch" onChange="updateSettings('graph_touch',$(this).val()); change_graph_touch()"> <!-- At the bottom -->
                                <option value="tooltip">Show Tooltip</option>
                                <option value="ruler">Show Ruler</option>
                                <option value="void">Do nothing</option>
                            </select>
                        </div>
                        <div class="changer-v2">
                            <label for="graph_line">Graph line:</label>
                            <select id="graph_line" onChange="updateSettings('graph_line',$(this).val()); generate_graph();"> <!-- stockactions.js -->
                                <option value="1">Thin</option>
                                <option value="2">Regular</option>
                                <option value="3">Bold</option>
                            </select>
                        </div>                                        
                        <div class="changer-v2">
                            <label for="graph_grid">Grid type:</label>
                            <select id="graph_grid" onChange="updateSettings('graph_grid',$(this).val()); change_graph_grid()"> <!-- At the bottom -->
                                <option value="x">Only X axis</option>
                                <option value="y">Only Y axis</option>
                                <option value="xy">XY axis</option>
                                <option value="-">No grid</option>
                            </select>
                        </div>
                        <div class="changer-v2">
                            <label>Graph labels:</label>
                            <label class="switch-slider">
                                <input id="graph_labels" type="checkbox" onClick="updateSettings('graph_labels',this.checked); change_graph_labels()"> 
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>                                              
            <div class="page-view" data-view="info">
                <div class="box find-in">
                    <h2>Research</h2>
                    <div class="icon-google google"></div>
                    <div class="icon-twitter twitter"></div>
                    <div class="icon-youtube-play youtube"></div>
                    
                </div>
                <div class="entity-main-info-container"></div>
            </div>          
             <div class="page-view" data-view="financial">
                 <div class="widgets" id="financial-graphs">

                    <div class="widget shareholders">
                        <div class="header">
                            <h2 class="title">Shareholders</h2>
                            <div class="actions">
                                <div class="icon-btn btn-edit icon-settings"></div>
                                <div class="icon-btn btn-move icon-move"></div>
                            </div>
                        </div>
                        <div class="content">                        
                            <div class="graph" id="graph-shareholders"></div>                                         
                            <div class="edit"></div>
                        </div>
                    </div>
                 </div>
                 <div class="add-widget" data-type="financial_graph">
                     <div class="icon-btn icon-add"></div>                     
                 </div>
            </div>             
            <div class="page-view view-grid related-container" data-view="related-sector">                
                <h2>From the same sector</h2>
                <div class="related hide-scroll">
                    <div class="items-container"></div>
                </div>
            </div>           
            <div class="page-view view-grid related-container" data-view="related-industry">                
                <h2>Top from the same industry</h2>
                <div class="related hide-scroll">
                    <div class="items-container"></div>
                </div>
            </div>            
        <br style="clear:both" />    
        </div>
    <div class="template-widget hide" data-type="financial_graph">
        <div class="widget" data-type="financial_graph">
            <div class="header">
                <div class="title">
                    <h2>New Widget</h2>
                    <div class="tooltip">
                        <span class="x"></span> <span class="y"></span>
                    </div>
                </div>
                <div class="actions">
                    <div class="icon-btn btn-edit icon-settings"></div>
                    <div class="icon-btn btn-delete icon-bin"></div>
                </div>
            </div>
            <div class="content">
                <div class="graph"></div>
                <div class="edit edit-box">
                    <h3>Choose graph parameters</h3>
                    <div class="field">
                        <div class="label">Date Range</div>
                        <select class="select" data-id="range">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="quarterly">Quaterly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="label">Scope</div>
                        <select class="select" data-id="scope">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="totalRevenue">Total Revenue</option>
                            <option value="grossProfit">Total Profit</option>
                            <option value="ebit">Total EBIT</option>
                            <option value="ebitda">Total EBITDA</option>
                            <option value="incomeTaxExpense">Income Tax Expense</option>
                            <option value="operatingIncome">Operating Income</option>
                        </select>
                    </div>
                    <div class="separator"></div>
                    <div class="field">
                        <div class="label">Chart</div>
                        <select class="select" data-id="chartType">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="line">Line</option>
                            <option value="bar">Bars</option>
                        </select>
                    </div>
                    <div class="separator"></div>
                </div>
            </div>
        </div> 
    </div>
    <div class="template-info-tab hide tab-container tab-info">
        <div class="tab-header">
            <h2>Title</h2>
            <div class="expand icon-expand_more"></div>
        </div>
        <div class="tab-content"></div>
    </div>
    <div class="template-info-tab-row hide" onClick="$(this).toggleClass('expanded');">
        <div class="row">
            <div class="tooltip-btn icon-info"></div> 
            <div class="field">
                <span class="field-value"></span>
            </div>
            <div class="value"></div>         
        </div>
        <div class="tooltip-info"></div>
    </div>   
