<div class="popup active popup-advanced-charting popup-advanced-charting-drawing">
    <div class="popup-body padding-side-regular">
        
        <div class="step active" data-step="main">
            <div class="header">                    
                <h2>Toolbox</h2>
            </div>        
            <div class="form">
                <div class="tab-container">
                    <div class="tab-header">
                        <h2>Basic Shapes</h2>
                        <div class="expand icon-expand_more"></div>
                    </div>
                    <div class="tab-content">
                        <div class="boxes">
                            <div class="box" onclick="$('.highcharts-segment').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-segment"></div>
                                <div class="title">Segment</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-arrow-segment').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-arrow-segment"></div>                            
                            </div>                        
                            <div class="box" onclick="$('.highcharts-circle-annotation').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-circle"></div>
                                <div class="title">Circle</div>
                            </div>
                             <div class="box" onclick="$('.highcharts-rectangle-annotation').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-rectangle"></div>
                                <div class="title">Rectangle</div>
                            </div>
                             <div class="box" onclick="$('.highcharts-ellipse-annotation').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-ellipse"></div>
                                <div class="title">Ellipse</div>
                            </div> 
                            <div class="box" onclick="$('.highcharts-infinity-line').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-line"></div>
                                <div class="title">Infinity line</div>
                            </div> 
                            <div class="box" onclick="$('.highcharts-horizontal-line').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-horizontal-line"></div>
                                <div class="title">Horizontal Line</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-vertical-line').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-vertical-line"></div>
                                <div class="title">Vertical Line</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-ray').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-ray"></div>
                                <div class="title">Ray</div>
                            </div> 
                            <div class="box" onclick="$('.highcharts-arrow-ray').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-arrow-ray"></div>
                                <div class="title">Arrow Ray</div>
                            </div>                        
                        </div>
                    </div>
                </div>              
                <div class="tab-container">
                    <div class="tab-header">
                        <h2>Measure</h2>
                        <div class="expand icon-expand_more"></div>
                    </div>
                    <div class="tab-content">
                        <div class="boxes">
                            <div class="box" onclick="$('.highcharts-label-annotation').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-tag"></div>
                                <div class="title">Price tag</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-measure-xy').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-measure-xy"></div>
                                <div class="title">Measure XY</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-measure-x').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-measure-x"></div>
                                <div class="title">Measure X</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-measure-y').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-measure-y"></div>
                                <div class="title">Measure Y</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-container">
                    <div class="tab-header">
                        <h2>Advanced</h2>
                        <div class="expand icon-expand_more"></div>
                    </div>
                    <div class="tab-content">
                        <div class="boxes">
                            <div class="box" onclick="$('.highcharts-elliott3').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-elliott-3"></div>
                                <div class="title">Elliott 3</div>                            
                            </div>  
                            <div class="box" onclick="$('.highcharts-elliott5').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-elliott-5"></div>
                                <div class="title">Elliott 5</div>                            
                            </div> 
                            <div class="box" onclick="$('.highcharts-crooked3').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-crooked-3"></div>
                                <div class="title">Crooked 5</div>                            
                            </div> 
                            <div class="box" onclick="$('.highcharts-crooked5').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-crooked-5"></div>
                                <div class="title">Crooked 5</div>                            
                            </div>                         
                            <div class="box" onclick="$('.highcharts-fibonacci').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-fibonacci"></div>
                                <div class="title">Fibonacci</div>
                            </div>     
                            <div class="box" onclick="$('.highcharts-fibonacci-time-zones').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-fibonacci-timezone"></div>
                                <div class="title">Fibonacci-timezone</div>
                            </div> 
                            <div class="box" onclick="$('.highcharts-parallel-channel').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-parallel-channel"></div>
                                <div class="title">Parallel channel</div>
                            </div>  
                            <div class="box" onclick="$('.highcharts-pitchfork').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-pitchfork"></div>
                                <div class="title">Pitchfork</div>
                            </div>
                            <div class="box" onclick="$('.highcharts-time-cycles').click(); $('.advanced-charting .box').removeClass('active'); $(this).addClass('active');">
                                <div class="icon icon-time-cycles"></div>
                                <div class="title">Time-Cycles</div>
                            </div>
                            <div class="box filled" data-action="advanced-info">
                                <div class="icon icon-info"></div>
                                <div class="title"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-container">
                    <div class="tab-header">
                        <h2>Indicators</h2>
                        <div class="expand icon-expand_more"></div>
                    </div>
                    <div class="tab-content" style="padding:30px 15px 50px">
                        Under construction..
                    </div>
                </div>
                <!--
                <div class="tab-container">
                    <div class="tab-header">
                        <h2>Sketch Pad</h2>
                        <div class="expand icon-expand_more"></div>
                    </div>
                    <div class="tab-content sketchpad-toolbox">
                        <div class="boxes">
                            <div class="box" data-action="sketchpad"><div class="icon-btn icon-add"></div></div>
                        </div>
                        <div class="brushes">
                            <div class="brush1"></div>
                            <div class="brush2"></div>
                            <div class="brush3"></div>
                            <div class="brush4"></div>
                            <div class="brush5"></div>
                        </div>
                        <div class="colors">
                            <div class="color1"></div>
                            <div class="color2"></div>
                            <div class="color3"></div>
                            <div class="color4"></div>
                            <div class="color5"></div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <div class="step" data-step="advanced-info">
            <div class="advanced-charting-info">
                
                
                <h2>Fibonacci Retracements</h2>
                <div class="boxes">
                    <div class="box"><div class="icon icon-fibonacci"></div></div> 
                    <div class="box"><div class="icon icon-fibonacci2"></div></div>                      
                    <div class="box"><div class="icon icon-fibonacci-timezone"></div>                        </div> 
                </div>                                
                <p>Fibonacci Retracements are ratios used to identify potential reversal levels. These ratios are found in the Fibonacci sequence. The most popular Fibonacci Retracements are 61.8% and 38.2%</p>
                <p>Fibonacci Time Zones are vertical lines based on the Fibonacci Sequence. These lines extend along the X axis (date axis). <a>Learn more</a></p>
                <div class="sep"></div>
                
                
                <h2>Elliot & Crooked Lines</h2> 
                <div class="boxes">
                    <div class="box"><div class="icon icon-crooked-3"></div></div>     
                    <div class="box"><div class="icon icon-crooked-5"></div></div>     
                    <div class="box"><div class="icon icon-elliott-3"></div></div>     
                    <div class="box"><div class="icon icon-elliott-5"></div></div>     
                </div>                                
                <p>The Elliott Wave theory is a technical analysis toolkit used to predict price movements by observing and identifying repeating patterns of waves. <a>Learn more</a></p>                
                <div class="sep"></div>   
                
                
                <h2>Parallel Channel</h2>
                <div class="boxes">
                    <div class="box"><div class="icon icon-parallel-channel"></div></div>         
                </div>                                 
                <p>A channel chart pattern is characterized as the addition of two parallel lines which act as the zones of support and resistance. <a>Learn more</a></p>                
                <div class="sep"></div>  
                
                
                <h2>Pitchfork</h2>
                <div class="boxes">
                    <div class="box"><div class="icon icon-pitchfork"></div></div>         
                </div>                                 
                <p>The Andrew's Pitchfork indicator is a tool used for trend trading and also to predict market reversals. <a>Learn more</a></p>                
                <div class="sep"></div>  

                
                <h2>Time cycles</h2> 
                <div class="boxes">
                    <div class="box"><div class="icon icon-pitchfork"></div></div>         
                </div>                                
                <p>Price and time cycles are used to anticipate turning points. <a>Learn more</a></p>                
                <div class="sep"></div>  
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $.getScript('/media/js/external/sketchpad'+(config.minify === 1 ? '.min' : '')+'.js?version='+config.version);
    
    $(document).ready(function(){
        if (screen.width>766){
            $('body').addClass('no-blur');
            //$('.popup-advanced-charting .tab-content').show();
        }
    });
    $(document).off('click','.graph-container');
    $(document).on('click','.graph-container',function(){
        $('.popup-advanced-charting-drawing .box').removeClass('active');
    });
    $(document).off('click','[data-action="advanced-info"]');
    $(document).on('click','[data-action="advanced-info"]',function(){  
        $('[data-step="main"]').removeClass('active').slideUp(200,function(){
            $('[data-step="advanced-info"]').slideDown(300).addClass('active');
            button({ class: 'icon-btn popup-btn icon-keyboard_backspace1' }, function(){ 
                $('.icon-keyboard_backspace1').remove();
                $('[data-step="advanced-info"]').removeClass('active').slideUp(200,function(){
                    $('[data-step="main"]').slideDown(300).addClass('active');
                });
            });
        });              
    });   
    $(document).off('click','.popup-advanced-charting-drawing [data-step="main"] .box');
    $(document).on('click','.popup-advanced-charting-drawing [data-step="main"] .box',function(){
        if (screen.width<996){
            $('#popup').html(''); $('.popup-btn').remove(); $('body').removeClass('with-popup');
            $('.quick-tools .actions > div').removeClass('active');
        }
    }); 
</script>
