<div class="info-page">
    <h2>Fibonacci Retracements</h2>
    <div class="boxes">
        <div class="box">
            <div class="icon icon-fibonacci"></div>
            <div class="title">Fibonacci</div>
        </div>     
        <div class="box">
            <div class="icon icon-fibonacci-timezone"></div>
            <div class="title">Fibonacci-timezone</div>
        </div> 
    </div>
    <p>Fibonacci Retracements are ratios used to identify potential reversal levels. These ratios are found in the Fibonacci sequence. The most popular Fibonacci Retracements are 61.8% and 38.2%</p>
    <p>Fibonacci Time Zones are vertical lines based on the Fibonacci Sequence. These lines extend along the X axis (date axis)</p>
    
    <div class="actions">
        Research: <div class="icon-btn icon-google"></div>
    </div>    
</div>