<link rel="stylesheet" type="text/css" href="/extensions/cms/media/css/content.css?v=0.0.24" />

<div class="content login" style="opacity:0">
    
    <div class="breadcrumbs">Stocktok</div>
        
    <div class="row" data-columns="2" data-chapter="2" style="justify-content:center; padding-top:30px">         
        <div class="column">
            <div class="img-container"><img src="/media/img/cms/portfolio.jpg?v=1" /></div>
            <h2>Sign In</h2>
            <p class="infoNote" style="display:none; margin-bottom:15px"></p>
            
            <div class="cms-form">
                <input id="username" type="text" placeholder="Your nickname" autocomplete="off" />
                <input id="password" class="password" type="password" placeholder="Your password" style="display:none" />

                <div class="actions">
                    <div class="icon-btn icon-fingerprint" data-action="step2"></div>
                </div>
            </div>
        </div>               
    </div>
        
</div>

<script type="text/javascript">
    
</script>