<div class="popup popup-avatars">
    <div class="popup-body padding-side-regular">
        
        <div class="step1">
            <h2>Choose Avatar type:</h2>
            <div class="avatar-types">
                <div class="avatar-type" data-action="icon">
                    <div class="icon icon-person"></div>
                    <div class="title">
                        <h2>Icon</h2>
                    </div>
                </div>
                
                <div class="avatar-type" data-action="image">
                    <label for="image"></label>
                    <span class="icon icon-upload"></span>
                    <div class="title">
                        <h2>Image</h2>
                    </div>
                    <input type="file" id="image" name="image" accept="image/*" style="display:none">
                </div>
                <div class="avatar-type disabled" data-action="photo">
                    <div class="icon icon-camera"></div>
                    <div class="title">
                        <h2>Photo</h2>
                    </div>
                </div>               
            </div>
        </div>
        
        <div class="step2" data-type="icon">
            <div class="avatars">
                <div class="avatar avatar-angry"></div>
                <div class="avatar avatar-angry2"></div>
                <div class="avatar avatar-astonished-face"></div>
                <div class="avatar avatar-baffled"></div>
                <div class="avatar avatar-baffled2"></div>
                <div class="avatar avatar-bank"></div>
                <div class="avatar avatar-bug"></div>
                <div class="avatar avatar-confused"></div>
                <div class="avatar avatar-confused2"></div>
                <div class="avatar avatar-cool"></div>
                <div class="avatar avatar-cool2"></div>
                <div class="avatar avatar-crying"></div>
                <div class="avatar avatar-crying2"></div>
                <div class="avatar avatar-evil"></div>
                <div class="avatar avatar-evil2"></div>
                <div class="avatar avatar-face"></div>
                <div class="avatar avatar-face-missing-moth"></div>
                <div class="avatar avatar-face-moustache"></div>
                <div class="avatar avatar-face-moustache1"></div>
                <div class="avatar avatar-face-sunglasses"></div>
                <div class="avatar avatar-face_retouching_natural"></div>
                <div class="avatar avatar-finder"></div>
                <div class="avatar avatar-flashed-face"></div>
                <div class="avatar avatar-flashed-face-glasses"></div>
                <div class="avatar avatar-flashed-face1"></div>
                <div class="avatar avatar-flickr4"></div>
                <div class="avatar avatar-frustrated"></div>
                <div class="avatar avatar-frustrated2"></div>
                <div class="avatar avatar-github"></div>
                <div class="avatar avatar-grin"></div>
                <div class="avatar avatar-grin2"></div>
                <div class="avatar avatar-group"></div>
                <div class="avatar avatar-happy"></div>
                <div class="avatar avatar-happy2"></div>
                <div class="avatar avatar-hipster"></div>
                <div class="avatar avatar-hipster2"></div>
                <div class="avatar avatar-money"></div>
                <div class="avatar avatar-neutral"></div>
                <div class="avatar avatar-neutral2"></div>
                <div class="avatar avatar-pacman"></div>
                <div class="avatar avatar-pig"></div>
                <div class="avatar avatar-reddit"></div>
                <div class="avatar avatar-reddit-alien"></div>
                <div class="avatar avatar-rocket"></div>
                <div class="avatar avatar-sad"></div>
                <div class="avatar avatar-sad2"></div>
                <div class="avatar avatar-shocked"></div>
                <div class="avatar avatar-shocked2"></div>
                <div class="avatar avatar-sleepy"></div>
                <div class="avatar avatar-sleepy2"></div>
                <div class="avatar avatar-smile"></div>
                <div class="avatar avatar-smile2"></div>
                <div class="avatar avatar-smirking-face-sunglasses"></div>
                <div class="avatar avatar-tongue"></div>
                <div class="avatar avatar-tongue2"></div>
                <div class="avatar avatar-tux"></div>
                <div class="avatar avatar-user"></div>
                <div class="avatar avatar-user-md"></div>
                <div class="avatar avatar-user-secret"></div>
                <div class="avatar avatar-user-tie"></div>
                <div class="avatar avatar-users"></div>
                <div class="avatar avatar-wink"></div>
                <div class="avatar avatar-wink2"></div>
                <div class="avatar avatar-wondering"></div>
                <div class="avatar avatar-wondering2"></div>
            </div>
            <div class="color">
                <div class="label info">Choose your color:</div>
                <input type="color" class="avatar-color" />
            </div>
        </div>
        
        <div class="step2" data-type="image">
            <h2>Adjust position</h2>
            <div class="frame-container hide-scroll">
                <img id="frame" src="" />
            </div>
            <h2>Adjust size</h2>
            <div class="image-resizer slidecontainer">
                <input type="range" min="300" max="300" value="300" class="slider-range" id="image-size">
            </div>
        </div>
        
        <div class="step2" data-type="photo">            
            <h2>Take picture</h2>
            <div class="camera-container">
                <div id="camera"></div>
            </div>
        </div>
        
    </div>
</div>
<script type="text/javascript" src="/extensions/settings/media/webcamjs/webcam.min.js"></script>
<script type="text/javascript">

    $(document).off('click', '.popup-avatars .avatars > *');
    $(document).on('click','.popup-avatars .avatars > *',function(){
        
        var avatar = $(this).attr('class').replace('avatar-','').replace('avatar ','');
        $.ajax({
            url: config.api_url,
            data: { 
                endpoint: '/me',
                avatar: avatar
            },
            type: 'PUT',
            dataType: 'JSON',
            cache: false,
            success: function(response){  
                $(".settings .avatar-container .avatar").removeClass().addClass('avatar avatar-'+avatar);
                $(".nav .avatar").removeClass().addClass('avatar avatar-'+avatar);
                
                $('.popup-avatars .avatar').removeClass('active').css('color','var(--color-base)');
                $('.popup-avatars .avatar-'+avatar).addClass('active').css('color',me.avatar_color);
            }
        });
    });
    
    $(document).off('click', '.popup-avatars .avatar-color');
    $(document).on('change','.popup-avatars .avatar-color',function(){
        
        var avatar_color = $(this).val();
        $.ajax({
            url: config.api_url,
            data: { 
                endpoint: '/me',
                avatar_color: avatar_color
            },
            type: 'PUT',
            dataType: 'JSON',
            cache: false,
            success: function(response){  
                $(".settings .avatar-container .avatar").css('color',avatar_color);
                $(".nav .avatar").css('color',avatar_color);
                
                $('.popup-avatars .avatar').css('color','var(--color-base');
                $('.popup-avatars .avatar.active').css('color',avatar_color);
            }
        });
    });
    
    $(document).ready(function(){
        if (me.avatar && !me.avatar_type){            
            $('.popup-avatars .avatar-'+me.avatar).addClass('active').css('color',me.avatar_color);
            $('.popup-avatars .avatar-color').val(me.avatar_color);
        }
    });
    
    $(document).off('click', '[data-action="icon"]');
    $(document).on('click','[data-action="icon"]',function(){
        $('.step1').slideUp(300,'swing',function(){
            $('.step2[data-type="icon"]').addClass('active').slideDown(300,'swing',function(){
                                    
                    button({ 
                        class: 'icon-btn popup-btn icon-keyboard_backspace1' }, 
                        function(){ 
                            $('.heading .icon-keyboard_backspace1').remove();
                            $('.heading .icon-camera').remove();
                            $('.heading .icon-check1').remove();
                            $('.step2').removeClass('active').slideUp(300,'swing',function(){
                                $('.step1').slideDown(300,'swing',function(){});
                            });
                        }
                    );                
                
            });
        });
    });
    
    $(document).off('change', '#image');
    $(document).on('change','#image',function(event){        
        frame.src=URL.createObjectURL(event.target.files[0]); 
        
        $('.step1').slideUp(300,'swing',function(){
            $('.step2[data-type="image"]').addClass('active').slideDown(300,'swing',function(){
                
                button({ 
                    class: 'icon-btn popup-btn icon-keyboard_backspace1' }, 
                    function(){ 
                        $('.heading .icon-keyboard_backspace1').remove();
                        $('.heading .icon-camera').remove();
                        $('.heading .icon-check1').remove();                        
                        $('.step2').removeClass('active').slideUp(300,'swing',function(){
                            $('.step1').slideDown(300,'swing',function(){});
                        });
                    }
                );
                var width   = frame.naturalWidth;
                var height  = frame.naturalHeight;
        
                button({ class: "icon-btn popup-btn icon-check1" }, function(){ 
                                    
                    var formData = new FormData();
                    formData.append('me',me.username);
                    formData.append('file', $('#image')[0].files[0]);
                    formData.append('x',$('.frame-container').scrollLeft());
                    formData.append('y',$('.frame-container').scrollTop());
                    formData.append('size',$('#image-size').val());
                    formData.append('width',width);
                    formData.append('height',height);
                    formData.append('newwidth',frame.width);
                    formData.append('newheight',frame.height);
                     
                    $('.popup-avatars').html('<div class="popup-loading"><div class="icon icon-refresh1"></div></div>');
        
                    $.ajax({
                           url : '/upload.php',
                           type : 'POST',
                           data : formData,
                           dataType: 'JSON',
                           processData: false,  // tell jQuery not to process the data
                           contentType: false,  // tell jQuery not to set contentType
                           success : function(response) {
                               if (response.success){
                                    d = new Date();
                                    $('nav .avatar-container').html("<img src='"+response.path+"?"+d.getTime()+"' class='avatar-image' />");
                                    $('.settings .avatar-container').html("<img src='"+response.path+"?"+d.getTime()+"' class='avatar-image' />");
                                    $('.popup-avatars').slideDown(300,'linear',function(){
                                        $('.popup-btn').remove();
                                        $('.popup-avatars').remove();
                                        $('body').removeClass('with-popup');                                       
                                    });
                               }else{
                                    $('.popup-btn.icon-check1').remove();
                                    $('.popup-avatars').html('\
                                        <div class="popup-success">\n\
                                            <div class="icon-btn icon-clear"></div>\n\
                                            <div class="title">'+response.msg+'</div>\n\
                                        </div>');                                     
                               }
                           }
                    });                    
                    
                });
                
                var size = frame.naturalWidth;                
                if (frame.naturalWidth>frame.naturalHeight) size = frame.naturalHeight;
                
                if (size<300){
                    $('#image-size').attr('max',300).attr('min',size).val(size);
                }else{
                    $('#image-size').attr('max',size).val(size);
                }

            });
        });
    });
    
    $(document).off('click', '[data-action="photo"]');
    $(document).on('click','[data-action="photo"]',function(){
        $('.step1').slideUp(300,'swing',function(){
            $('.step2[data-type="photo"]').addClass('active').slideDown(300,'swing',function(){
                    
                    var ratio =1;
                    var camera_width  = 0;
                    var camera_height = 0;
                    var camera_x      = 0;
                    var camera_y      = 0;
                    
                    if (screen.width > screen.height){
                        ratio = screen.width / screen.height;
                        camera_width  = 300 * ratio;
                        camera_height = 300;
                        camera_x   = Math.abs(camera_width - 300)/2;
                    }else{
                      
                        ratio = screen.height / screen.width;                    
                        camera_width  = 300;
                        camera_height = 300 * ratio;
                        camera_y    = Math.abs(camera_height - 300)/2;
                    }                    
                    
                    button({ 
                        class: 'icon-btn popup-btn icon-keyboard_backspace1' }, 
                        function(){ 
                            $('.heading .icon-keyboard_backspace1').remove();
                            $('.heading .icon-camera').remove();
                            $('.heading .icon-check1').remove();
                            
                            $('.step2').removeClass('active').slideUp(300,'swing',function(){
                                $('.step1').slideDown(300,'swing',function(){});
                            });
                            
                            Webcam.reset();
                        }
                    );  
                    button({ 
                        class: 'icon-btn popup-btn icon-camera' }, 
                        function(){
                            
                            Webcam.snap( function(photo) {
                                $('.popup-avatars').html('<div class="popup-loading"><div class="icon icon-refresh1"></div></div>');
                                Webcam.upload( photo, 'upload.php?type=photo&width='+camera_width+'&height='+camera_height+'&x='+camera_x+'&y='+camera_y+'&me='+me.username, function(code, json) {
                                    let response = JSON.parse(json);
                                    d = new Date();
                                    $('nav .avatar-container').html("<img src='"+response.path+"?"+d.getTime()+"' class='avatar-image' />");
                                    $('.settings .avatar-container').html("<img src='"+response.path+"?"+d.getTime()+"' class='avatar-image' />");

                                    $('.popup-avatars').slideDown(300,'linear',function(){
                                        $('.popup-btn').remove();
                                        $('.popup-avatars').remove();
                                        $('body').removeClass('with-popup');                                       
                                    });
                                    
                                    Webcam.reset();
                                    
                                });                                                                
                            });
                        }
                    );                     
                    
                    Webcam.set({
                            width:          camera_width,
                            height:         camera_height,
                            image_format:   'jpeg',                                                      
                            jpeg_quality:   100,
                            flip_horiz:     true
                    });
                    Webcam.on( 'load', function() {
                        camera_x = Math.abs(($('#camera video').width()  - 300))/2;
                        camera_y = Math.abs(($('#camera video').height() - 300))/2;
                        $('#camera video').css('marginLeft','-'+camera_x+'px');
                        $('#camera video').css('marginTop','-'+camera_y+'px');
                    });
                    Webcam.attach( '#camera' );           
                
            });
        });
    });    
    
    $(document).off('input', '#image-size');
    $(document).on('input','#image-size',function(){
        
        if (frame.width>frame.height){
            $('#frame').height($(this).val());
        }else{
            $('#frame').width($(this).val());
        }
        
    });


</script>