<div class="popup active popup-countries">
    <div class="popup-body padding-side-regular">
        <div class="countries">
            <div class="country" data-country="ac"><img src="/media/img/flags/ac.svg" /></div>
            <div class="country" data-country="ad"><img src="/media/img/flags/ad.svg" /></div>
            <div class="country" data-country="ae"><img src="/media/img/flags/ae.svg" /></div>
            <div class="country" data-country="af"><img src="/media/img/flags/af.svg" /></div>
            <div class="country" data-country="ag"><img src="/media/img/flags/ag.svg" /></div>
            <div class="country" data-country="ai"><img src="/media/img/flags/ai.svg" /></div>
            <div class="country" data-country="al"><img src="/media/img/flags/al.svg" /></div>
            <div class="country" data-country="am"><img src="/media/img/flags/am.svg" /></div>
            <div class="country" data-country="ao"><img src="/media/img/flags/ao.svg" /></div>
            <div class="country" data-country="aq"><img src="/media/img/flags/aq.svg" /></div>
            <div class="country" data-country="ar"><img src="/media/img/flags/ar.svg" /></div>
            <div class="country" data-country="as"><img src="/media/img/flags/as.svg" /></div>
            <div class="country" data-country="at"><img src="/media/img/flags/at.svg" /></div>
            <div class="country" data-country="au"><img src="/media/img/flags/au.svg" /></div>
            <div class="country" data-country="aw"><img src="/media/img/flags/aw.svg" /></div>
            <div class="country" data-country="ax"><img src="/media/img/flags/ax.svg" /></div>
            <div class="country" data-country="az"><img src="/media/img/flags/az.svg" /></div>
            <div class="country" data-country="ba"><img src="/media/img/flags/ba.svg" /></div>
            <div class="country" data-country="bb"><img src="/media/img/flags/bb.svg" /></div>
            <div class="country" data-country="bd"><img src="/media/img/flags/bd.svg" /></div>
            <div class="country" data-country="be"><img src="/media/img/flags/be.svg" /></div>
            <div class="country" data-country="bf"><img src="/media/img/flags/bf.svg" /></div>
            <div class="country" data-country="bg"><img src="/media/img/flags/bg.svg" /></div>
            <div class="country" data-country="bh"><img src="/media/img/flags/bh.svg" /></div>
            <div class="country" data-country="bi"><img src="/media/img/flags/bi.svg" /></div>
            <div class="country" data-country="bj"><img src="/media/img/flags/bj.svg" /></div>
            <div class="country" data-country="bl"><img src="/media/img/flags/bl.svg" /></div>
            <div class="country" data-country="bm"><img src="/media/img/flags/bm.svg" /></div>
            <div class="country" data-country="bn"><img src="/media/img/flags/bn.svg" /></div>
            <div class="country" data-country="bo"><img src="/media/img/flags/bo.svg" /></div>
            <div class="country" data-country="bq"><img src="/media/img/flags/bq.svg" /></div>
            <div class="country" data-country="br"><img src="/media/img/flags/br.svg" /></div>
            <div class="country" data-country="bs"><img src="/media/img/flags/bs.svg" /></div>
            <div class="country" data-country="bt"><img src="/media/img/flags/bt.svg" /></div>
            <div class="country" data-country="bv"><img src="/media/img/flags/bv.svg" /></div>
            <div class="country" data-country="bw"><img src="/media/img/flags/bw.svg" /></div>
            <div class="country" data-country="by"><img src="/media/img/flags/by.svg" /></div>
            <div class="country" data-country="bz"><img src="/media/img/flags/bz.svg" /></div>
            <div class="country" data-country="ca"><img src="/media/img/flags/ca.svg" /></div>
            <div class="country" data-country="cc"><img src="/media/img/flags/cc.svg" /></div>
            <div class="country" data-country="cd"><img src="/media/img/flags/cd.svg" /></div>
            <div class="country" data-country="cefta"><img src="/media/img/flags/cefta.svg" /></div>
            <div class="country" data-country="cf"><img src="/media/img/flags/cf.svg" /></div>
            <div class="country" data-country="cg"><img src="/media/img/flags/cg.svg" /></div>
            <div class="country" data-country="ch"><img src="/media/img/flags/ch.svg" /></div>
            <div class="country" data-country="ci"><img src="/media/img/flags/ci.svg" /></div>
            <div class="country" data-country="ck"><img src="/media/img/flags/ck.svg" /></div>
            <div class="country" data-country="cl"><img src="/media/img/flags/cl.svg" /></div>
            <div class="country" data-country="cm"><img src="/media/img/flags/cm.svg" /></div>
            <div class="country" data-country="cn"><img src="/media/img/flags/cn.svg" /></div>
            <div class="country" data-country="co"><img src="/media/img/flags/co.svg" /></div>
            <div class="country" data-country="cp"><img src="/media/img/flags/cp.svg" /></div>
            <div class="country" data-country="cr"><img src="/media/img/flags/cr.svg" /></div>
            <div class="country" data-country="cu"><img src="/media/img/flags/cu.svg" /></div>
            <div class="country" data-country="cv"><img src="/media/img/flags/cv.svg" /></div>
            <div class="country" data-country="cw"><img src="/media/img/flags/cw.svg" /></div>
            <div class="country" data-country="cx"><img src="/media/img/flags/cx.svg" /></div>
            <div class="country" data-country="cy"><img src="/media/img/flags/cy.svg" /></div>
            <div class="country" data-country="cz"><img src="/media/img/flags/cz.svg" /></div>
            <div class="country" data-country="de"><img src="/media/img/flags/de.svg" /></div>
            <div class="country" data-country="dg"><img src="/media/img/flags/dg.svg" /></div>
            <div class="country" data-country="dj"><img src="/media/img/flags/dj.svg" /></div>
            <div class="country" data-country="dk"><img src="/media/img/flags/dk.svg" /></div>
            <div class="country" data-country="dm"><img src="/media/img/flags/dm.svg" /></div>
            <div class="country" data-country="do"><img src="/media/img/flags/do.svg" /></div>
            <div class="country" data-country="dz"><img src="/media/img/flags/dz.svg" /></div>
            <div class="country" data-country="ea"><img src="/media/img/flags/ea.svg" /></div>
            <div class="country" data-country="ec"><img src="/media/img/flags/ec.svg" /></div>
            <div class="country" data-country="ee"><img src="/media/img/flags/ee.svg" /></div>
            <div class="country" data-country="eg"><img src="/media/img/flags/eg.svg" /></div>
            <div class="country" data-country="eh"><img src="/media/img/flags/eh.svg" /></div>
            <div class="country" data-country="er"><img src="/media/img/flags/er.svg" /></div>
            <div class="country" data-country="es-ct"><img src="/media/img/flags/es-ct.svg" /></div>
            <div class="country" data-country="es-ga"><img src="/media/img/flags/es-ga.svg" /></div>
            <div class="country" data-country="es"><img src="/media/img/flags/es.svg" /></div>
            <div class="country" data-country="et"><img src="/media/img/flags/et.svg" /></div>
            <div class="country" data-country="eu"><img src="/media/img/flags/eu.svg" /></div>
            <div class="country" data-country="fi"><img src="/media/img/flags/fi.svg" /></div>
            <div class="country" data-country="fj"><img src="/media/img/flags/fj.svg" /></div>
            <div class="country" data-country="fk"><img src="/media/img/flags/fk.svg" /></div>
            <div class="country" data-country="fm"><img src="/media/img/flags/fm.svg" /></div>
            <div class="country" data-country="fo"><img src="/media/img/flags/fo.svg" /></div>
            <div class="country" data-country="fr"><img src="/media/img/flags/fr.svg" /></div>
            <div class="country" data-country="ga"><img src="/media/img/flags/ga.svg" /></div>
            <div class="country" data-country="gb-eng"><img src="/media/img/flags/gb-eng.svg" /></div>
            <div class="country" data-country="gb-nir"><img src="/media/img/flags/gb-nir.svg" /></div>
            <div class="country" data-country="gb-sct"><img src="/media/img/flags/gb-sct.svg" /></div>
            <div class="country" data-country="gb-wls"><img src="/media/img/flags/gb-wls.svg" /></div>
            <div class="country" data-country="gb"><img src="/media/img/flags/gb.svg" /></div>
            <div class="country" data-country="gd"><img src="/media/img/flags/gd.svg" /></div>
            <div class="country" data-country="ge"><img src="/media/img/flags/ge.svg" /></div>
            <div class="country" data-country="gf"><img src="/media/img/flags/gf.svg" /></div>
            <div class="country" data-country="gg"><img src="/media/img/flags/gg.svg" /></div>
            <div class="country" data-country="gh"><img src="/media/img/flags/gh.svg" /></div>
            <div class="country" data-country="gi"><img src="/media/img/flags/gi.svg" /></div>
            <div class="country" data-country="gl"><img src="/media/img/flags/gl.svg" /></div>
            <div class="country" data-country="gm"><img src="/media/img/flags/gm.svg" /></div>
            <div class="country" data-country="gn"><img src="/media/img/flags/gn.svg" /></div>
            <div class="country" data-country="gp"><img src="/media/img/flags/gp.svg" /></div>
            <div class="country" data-country="gq"><img src="/media/img/flags/gq.svg" /></div>
            <div class="country" data-country="gr"><img src="/media/img/flags/gr.svg" /></div>
            <div class="country" data-country="gs"><img src="/media/img/flags/gs.svg" /></div>
            <div class="country" data-country="gt"><img src="/media/img/flags/gt.svg" /></div>
            <div class="country" data-country="gu"><img src="/media/img/flags/gu.svg" /></div>
            <div class="country" data-country="gw"><img src="/media/img/flags/gw.svg" /></div>
            <div class="country" data-country="gy"><img src="/media/img/flags/gy.svg" /></div>
            <div class="country" data-country="hk"><img src="/media/img/flags/hk.svg" /></div>
            <div class="country" data-country="hm"><img src="/media/img/flags/hm.svg" /></div>
            <div class="country" data-country="hn"><img src="/media/img/flags/hn.svg" /></div>
            <div class="country" data-country="hr"><img src="/media/img/flags/hr.svg" /></div>
            <div class="country" data-country="ht"><img src="/media/img/flags/ht.svg" /></div>
            <div class="country" data-country="hu"><img src="/media/img/flags/hu.svg" /></div>
            <div class="country" data-country="ic"><img src="/media/img/flags/ic.svg" /></div>
            <div class="country" data-country="id"><img src="/media/img/flags/id.svg" /></div>
            <div class="country" data-country="ie"><img src="/media/img/flags/ie.svg" /></div>
            <div class="country" data-country="il"><img src="/media/img/flags/il.svg" /></div>
            <div class="country" data-country="im"><img src="/media/img/flags/im.svg" /></div>
            <div class="country" data-country="in"><img src="/media/img/flags/in.svg" /></div>
            <div class="country" data-country="io"><img src="/media/img/flags/io.svg" /></div>
            <div class="country" data-country="iq"><img src="/media/img/flags/iq.svg" /></div>
            <div class="country" data-country="ir"><img src="/media/img/flags/ir.svg" /></div>
            <div class="country" data-country="is"><img src="/media/img/flags/is.svg" /></div>
            <div class="country" data-country="it"><img src="/media/img/flags/it.svg" /></div>
            <div class="country" data-country="je"><img src="/media/img/flags/je.svg" /></div>
            <div class="country" data-country="jm"><img src="/media/img/flags/jm.svg" /></div>
            <div class="country" data-country="jo"><img src="/media/img/flags/jo.svg" /></div>
            <div class="country" data-country="jp"><img src="/media/img/flags/jp.svg" /></div>
            <div class="country" data-country="ke"><img src="/media/img/flags/ke.svg" /></div>
            <div class="country" data-country="kg"><img src="/media/img/flags/kg.svg" /></div>
            <div class="country" data-country="kh"><img src="/media/img/flags/kh.svg" /></div>
            <div class="country" data-country="ki"><img src="/media/img/flags/ki.svg" /></div>
            <div class="country" data-country="km"><img src="/media/img/flags/km.svg" /></div>
            <div class="country" data-country="kn"><img src="/media/img/flags/kn.svg" /></div>
            <div class="country" data-country="kp"><img src="/media/img/flags/kp.svg" /></div>
            <div class="country" data-country="kr"><img src="/media/img/flags/kr.svg" /></div>
            <div class="country" data-country="kw"><img src="/media/img/flags/kw.svg" /></div>
            <div class="country" data-country="ky"><img src="/media/img/flags/ky.svg" /></div>
            <div class="country" data-country="kz"><img src="/media/img/flags/kz.svg" /></div>
            <div class="country" data-country="la"><img src="/media/img/flags/la.svg" /></div>
            <div class="country" data-country="lb"><img src="/media/img/flags/lb.svg" /></div>
            <div class="country" data-country="lc"><img src="/media/img/flags/lc.svg" /></div>
            <div class="country" data-country="li"><img src="/media/img/flags/li.svg" /></div>
            <div class="country" data-country="lk"><img src="/media/img/flags/lk.svg" /></div>
            <div class="country" data-country="lr"><img src="/media/img/flags/lr.svg" /></div>
            <div class="country" data-country="ls"><img src="/media/img/flags/ls.svg" /></div>
            <div class="country" data-country="lt"><img src="/media/img/flags/lt.svg" /></div>
            <div class="country" data-country="lu"><img src="/media/img/flags/lu.svg" /></div>
            <div class="country" data-country="lv"><img src="/media/img/flags/lv.svg" /></div>
            <div class="country" data-country="ly"><img src="/media/img/flags/ly.svg" /></div>
            <div class="country" data-country="ma"><img src="/media/img/flags/ma.svg" /></div>
            <div class="country" data-country="mc"><img src="/media/img/flags/mc.svg" /></div>
            <div class="country" data-country="md"><img src="/media/img/flags/md.svg" /></div>
            <div class="country" data-country="me"><img src="/media/img/flags/me.svg" /></div>
            <div class="country" data-country="mf"><img src="/media/img/flags/mf.svg" /></div>
            <div class="country" data-country="mg"><img src="/media/img/flags/mg.svg" /></div>
            <div class="country" data-country="mh"><img src="/media/img/flags/mh.svg" /></div>
            <div class="country" data-country="mk"><img src="/media/img/flags/mk.svg" /></div>
            <div class="country" data-country="ml"><img src="/media/img/flags/ml.svg" /></div>
            <div class="country" data-country="mm"><img src="/media/img/flags/mm.svg" /></div>
            <div class="country" data-country="mn"><img src="/media/img/flags/mn.svg" /></div>
            <div class="country" data-country="mo"><img src="/media/img/flags/mo.svg" /></div>
            <div class="country" data-country="mp"><img src="/media/img/flags/mp.svg" /></div>
            <div class="country" data-country="mq"><img src="/media/img/flags/mq.svg" /></div>
            <div class="country" data-country="mr"><img src="/media/img/flags/mr.svg" /></div>
            <div class="country" data-country="ms"><img src="/media/img/flags/ms.svg" /></div>
            <div class="country" data-country="mt"><img src="/media/img/flags/mt.svg" /></div>
            <div class="country" data-country="mu"><img src="/media/img/flags/mu.svg" /></div>
            <div class="country" data-country="mv"><img src="/media/img/flags/mv.svg" /></div>
            <div class="country" data-country="mw"><img src="/media/img/flags/mw.svg" /></div>
            <div class="country" data-country="mx"><img src="/media/img/flags/mx.svg" /></div>
            <div class="country" data-country="my"><img src="/media/img/flags/my.svg" /></div>
            <div class="country" data-country="mz"><img src="/media/img/flags/mz.svg" /></div>
            <div class="country" data-country="na"><img src="/media/img/flags/na.svg" /></div>
            <div class="country" data-country="nc"><img src="/media/img/flags/nc.svg" /></div>
            <div class="country" data-country="ne"><img src="/media/img/flags/ne.svg" /></div>
            <div class="country" data-country="nf"><img src="/media/img/flags/nf.svg" /></div>
            <div class="country" data-country="ng"><img src="/media/img/flags/ng.svg" /></div>
            <div class="country" data-country="ni"><img src="/media/img/flags/ni.svg" /></div>
            <div class="country" data-country="nl"><img src="/media/img/flags/nl.svg" /></div>
            <div class="country" data-country="no"><img src="/media/img/flags/no.svg" /></div>
            <div class="country" data-country="np"><img src="/media/img/flags/np.svg" /></div>
            <div class="country" data-country="nr"><img src="/media/img/flags/nr.svg" /></div>
            <div class="country" data-country="nu"><img src="/media/img/flags/nu.svg" /></div>
            <div class="country" data-country="nz"><img src="/media/img/flags/nz.svg" /></div>
            <div class="country" data-country="om"><img src="/media/img/flags/om.svg" /></div>
            <div class="country" data-country="pa"><img src="/media/img/flags/pa.svg" /></div>
            <div class="country" data-country="pe"><img src="/media/img/flags/pe.svg" /></div>
            <div class="country" data-country="pf"><img src="/media/img/flags/pf.svg" /></div>
            <div class="country" data-country="pg"><img src="/media/img/flags/pg.svg" /></div>
            <div class="country" data-country="ph"><img src="/media/img/flags/ph.svg" /></div>
            <div class="country" data-country="pk"><img src="/media/img/flags/pk.svg" /></div>
            <div class="country" data-country="pl"><img src="/media/img/flags/pl.svg" /></div>
            <div class="country" data-country="pm"><img src="/media/img/flags/pm.svg" /></div>
            <div class="country" data-country="pn"><img src="/media/img/flags/pn.svg" /></div>
            <div class="country" data-country="pr"><img src="/media/img/flags/pr.svg" /></div>
            <div class="country" data-country="ps"><img src="/media/img/flags/ps.svg" /></div>
            <div class="country" data-country="pt"><img src="/media/img/flags/pt.svg" /></div>
            <div class="country" data-country="pw"><img src="/media/img/flags/pw.svg" /></div>
            <div class="country" data-country="py"><img src="/media/img/flags/py.svg" /></div>
            <div class="country" data-country="qa"><img src="/media/img/flags/qa.svg" /></div>
            <div class="country" data-country="re"><img src="/media/img/flags/re.svg" /></div>
            <div class="country" data-country="ro"><img src="/media/img/flags/ro.svg" /></div>
            <div class="country" data-country="rs"><img src="/media/img/flags/rs.svg" /></div>
            <div class="country" data-country="ru"><img src="/media/img/flags/ru.svg" /></div>
            <div class="country" data-country="rw"><img src="/media/img/flags/rw.svg" /></div>
            <div class="country" data-country="sa"><img src="/media/img/flags/sa.svg" /></div>
            <div class="country" data-country="sb"><img src="/media/img/flags/sb.svg" /></div>
            <div class="country" data-country="sc"><img src="/media/img/flags/sc.svg" /></div>
            <div class="country" data-country="sd"><img src="/media/img/flags/sd.svg" /></div>
            <div class="country" data-country="se"><img src="/media/img/flags/se.svg" /></div>
            <div class="country" data-country="sg"><img src="/media/img/flags/sg.svg" /></div>
            <div class="country" data-country="sh"><img src="/media/img/flags/sh.svg" /></div>
            <div class="country" data-country="si"><img src="/media/img/flags/si.svg" /></div>
            <div class="country" data-country="sj"><img src="/media/img/flags/sj.svg" /></div>
            <div class="country" data-country="sk"><img src="/media/img/flags/sk.svg" /></div>
            <div class="country" data-country="sl"><img src="/media/img/flags/sl.svg" /></div>
            <div class="country" data-country="sm"><img src="/media/img/flags/sm.svg" /></div>
            <div class="country" data-country="sn"><img src="/media/img/flags/sn.svg" /></div>
            <div class="country" data-country="so"><img src="/media/img/flags/so.svg" /></div>
            <div class="country" data-country="sr"><img src="/media/img/flags/sr.svg" /></div>
            <div class="country" data-country="ss"><img src="/media/img/flags/ss.svg" /></div>
            <div class="country" data-country="st"><img src="/media/img/flags/st.svg" /></div>
            <div class="country" data-country="sv"><img src="/media/img/flags/sv.svg" /></div>
            <div class="country" data-country="sx"><img src="/media/img/flags/sx.svg" /></div>
            <div class="country" data-country="sy"><img src="/media/img/flags/sy.svg" /></div>
            <div class="country" data-country="sz"><img src="/media/img/flags/sz.svg" /></div>
            <div class="country" data-country="ta"><img src="/media/img/flags/ta.svg" /></div>
            <div class="country" data-country="tc"><img src="/media/img/flags/tc.svg" /></div>
            <div class="country" data-country="td"><img src="/media/img/flags/td.svg" /></div>
            <div class="country" data-country="tf"><img src="/media/img/flags/tf.svg" /></div>
            <div class="country" data-country="tg"><img src="/media/img/flags/tg.svg" /></div>
            <div class="country" data-country="th"><img src="/media/img/flags/th.svg" /></div>
            <div class="country" data-country="tj"><img src="/media/img/flags/tj.svg" /></div>
            <div class="country" data-country="tk"><img src="/media/img/flags/tk.svg" /></div>
            <div class="country" data-country="tl"><img src="/media/img/flags/tl.svg" /></div>
            <div class="country" data-country="tm"><img src="/media/img/flags/tm.svg" /></div>
            <div class="country" data-country="tn"><img src="/media/img/flags/tn.svg" /></div>
            <div class="country" data-country="to"><img src="/media/img/flags/to.svg" /></div>
            <div class="country" data-country="tr"><img src="/media/img/flags/tr.svg" /></div>
            <div class="country" data-country="tt"><img src="/media/img/flags/tt.svg" /></div>
            <div class="country" data-country="tv"><img src="/media/img/flags/tv.svg" /></div>
            <div class="country" data-country="tw"><img src="/media/img/flags/tw.svg" /></div>
            <div class="country" data-country="tz"><img src="/media/img/flags/tz.svg" /></div>
            <div class="country" data-country="ua"><img src="/media/img/flags/ua.svg" /></div>
            <div class="country" data-country="ug"><img src="/media/img/flags/ug.svg" /></div>
            <div class="country" data-country="um"><img src="/media/img/flags/um.svg" /></div>
            <div class="country" data-country="un"><img src="/media/img/flags/un.svg" /></div>
            <div class="country" data-country="us"><img src="/media/img/flags/us.svg" /></div>
            <div class="country" data-country="uy"><img src="/media/img/flags/uy.svg" /></div>
            <div class="country" data-country="uz"><img src="/media/img/flags/uz.svg" /></div>
            <div class="country" data-country="va"><img src="/media/img/flags/va.svg" /></div>
            <div class="country" data-country="vc"><img src="/media/img/flags/vc.svg" /></div>
            <div class="country" data-country="ve"><img src="/media/img/flags/ve.svg" /></div>
            <div class="country" data-country="vg"><img src="/media/img/flags/vg.svg" /></div>
            <div class="country" data-country="vi"><img src="/media/img/flags/vi.svg" /></div>
            <div class="country" data-country="vn"><img src="/media/img/flags/vn.svg" /></div>
            <div class="country" data-country="vu"><img src="/media/img/flags/vu.svg" /></div>
            <div class="country" data-country="wf"><img src="/media/img/flags/wf.svg" /></div>
            <div class="country" data-country="ws"><img src="/media/img/flags/ws.svg" /></div>
            <div class="country" data-country="xk"><img src="/media/img/flags/xk.svg" /></div>
            <div class="country" data-country="xx"><img src="/media/img/flags/xx.svg" /></div>
            <div class="country" data-country="ye"><img src="/media/img/flags/ye.svg" /></div>
            <div class="country" data-country="yt"><img src="/media/img/flags/yt.svg" /></div>
            <div class="country" data-country="za"><img src="/media/img/flags/za.svg" /></div>
            <div class="country" data-country="zm"><img src="/media/img/flags/zm.svg" /></div>
            <div class="country" data-country="zw"><img src="/media/img/flags/zw.svg" /></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        
        /*
        $.ajax({
            url: config.api_url,
            data: { 
                endpoint: '/countries/flags'
            },
            type: 'GET',
            dataType: 'JSON',
            cache: false,
            success: function(response){  
                $.each(response.flags, function(i,flag){
                    $('.popup-countries .countries').append('<div class="country" data-country="'+flag.replace('.svg','')+'"><img src="/media/img/flags/'+flag+'" />');
                });
            }
        });
        /* */
        
        $(document).off('click', '.popup-countries .country');
        $(document).on('click','.popup-countries .country',function(){

            var country = $(this).attr('data-country');
            $.ajax({
                url: config.api_url,
                data: { 
                    endpoint: '/me',
                    country: country
                },
                type: 'PUT',
                dataType: 'JSON',
                cache: false,
                success: function(response){                  
                    $('.popup-countries .country').removeClass('active');
                    $('.popup-countries [data-country="'+country+'"]').addClass('active'); 
                    
                    $(".settings .country-container").html('<img src="/media/img/flags/'+country+'.svg" />');
                }
            });
        });        
        
        if (me.country){            
            $('.popup-countries [data-country="'+me.country+'"]').addClass('active');
        }
        /* */
    });

</script>