<div class="popup active popup-advanced-charting">
    <div class="popup-body padding-side-regular">
        <div class="header">                    
            <h2>Advanced Charting</h2>
        </div>        
        <div class="form">
            <div class="tab-container">
                <div class="tab-header">
                    <h2>General</h2>
                    <div class="expand icon-expand_more"></div>
                </div>
                <div class="tab-content">
                    <div class="changer-v2">
                        <label for="graph_type"><b>Type:</b><br />Line, OHLC, Candlestick, Area</label>
                        <select id="graph_type" onChange="updateSettings('graph_type',$(this).val()); generate_graph();"> <!-- stockactions.js -->
                            <option value="line">Line</option>
                            <option value="candlestick">Candlestick</option>
                            <option value="ohlc">OHLC</option>
                            <option value="area">Area</option>
                        </select>
                    </div>  
                    <div class="changer-v2 graph-tools">
                        <label for="graph_tools"><b>Tools:</b><br />For sketches & drawings</label>
                        <select id="graph_tools" onChange="updateSettings('graph_tools',$(this).val()); change_graph_tools()"> <!-- stockactions.js -->
                            <option value="true">Show</option>
                            <option value="false">Hide</option>
                        </select>
                    </div>                          
                    <div class="changer-v2">
                        <label for="graph_touch"><b>On touch:</b><br />Display tooltip/ruler or do nothing</label>
                        <select id="graph_touch" onChange="updateSettings('graph_touch',$(this).val()); change_graph_touch()"> <!-- At the bottom -->
                            <option value="tooltip">Show Tooltip</option>
                            <option value="ruler">Show Ruler</option>
                            <option value="void">Do nothing</option>
                        </select>
                    </div>                 
                </div>
            </div>              
            <div class="tab-container">
                <div class="tab-header">
                    <h2>Look & Feel</h2>
                    <div class="expand icon-expand_more"></div>
                </div>
                <div class="tab-content">
                    <div class="changer-v2">
                        <label for="graph_line"><b>Stroke:</b><br/>Applies only to line type graph</label>
                        <select id="graph_line" onChange="updateSettings('graph_line',$(this).val()); generate_graph();"> <!-- stockactions.js -->
                            <option value="1">Thin</option>
                            <option value="2">Regular</option>
                            <option value="3">Bold</option>
                        </select>
                    </div>                                        
                    <div class="changer-v2">
                        <label for="graph_grid"><b>Grid:</b><br/>Visibility of axises</label>
                        <select id="graph_grid" onChange="updateSettings('graph_grid',$(this).val()); change_graph_grid()"> <!-- At the bottom -->
                            <option value="x">Only X axis</option>
                            <option value="y">Only Y axis</option>
                            <option value="xy">XY axis</option>
                            <option value="-">No grid</option>
                        </select>
                    </div>
                    <div class="changer-v2">
                        <label><b>Labels:</b><br/>Visibility of labels</label>
                        <label class="switch-slider">
                            <input id="graph_labels" type="checkbox" onClick="updateSettings('graph_labels',this.checked); change_graph_labels()"> 
                            <span class="switch"></span>
                        </label>
                    </div>                     
                </div>
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.popup-advanced-charting .changer-v2 select').each(function(){
            var id = $(this).attr('id');
            if (settings.hasOwnProperty($(this).attr('id'))){
                $(this).val(settings[id]);
            }
            if (config.debug) console.log('value selected: '+id+' '+settings[id]);
            if (config.debug) console.log(settings);
        });
    });
</script>
