<div class="popup active popup-calculator">
    <div class="popup-body padding-side-regular">
        <div class="header">                    
            <h2>Calculate</h2>
        </div>
        
        <div class="form">
           
            <div class="column">
                <input type="number" class="input" placeholder="0.00" value="1" id="amount" />
                <select id="cc-currency1"></select>
                <input type="hidden" id="cc_rate1" />
            </div>
            <span class="sep">=</span>
            <div class="column"> 
                <input type="number" class="input" placeholder="0.00" value="1" id="total" />
                <select id="cc-currency2"></select>
                <input type="hidden" id="cc_rate2" />                
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    
    function calculate(invert = false){
        
        if ($('#total').val()==='' || $('#amount').val()===''){
            return;
        }
        if (invert){
            var amount = parseFloat($('#total').val()) / parseFloat(currencies[$('#cc-currency1').val()]) * parseFloat(currencies[$('#cc-currency2').val()]);
            $('#amount').val(amount.toFixed(2)); 
        }else{
            var total = parseFloat($('#amount').val()) * parseFloat(currencies[$('#cc-currency1').val()]) * parseFloat(currencies[$('#cc-currency2').val()]);
            $('#total').val(total.toFixed(2)); 
        }
               
    }
    $(document).ready(function(){
        $.each(currencies,function(value){ $('#cc-currency1').append('<option value="'+value+'">'+value+'</option>'); });
        $.each(currencies,function(value){ $('#cc-currency2').append('<option value="'+value+'"'+(settings.display_currency === value ? 'selected="SELECTED"' : '')+'>'+value+'</option>'); });
        
        calculate();
    });
    
    $(document).off('change','#cc-currency1,#cc-currency2');
    $(document).on('change','#cc-currency1,#cc-currency2',function(){
        calculate();
    });
    $(document).off('keyup','#amount');
    $(document).on('keyup','#amount',function(){
        calculate();
    });
    $(document).off('keyup','#total');
    $(document).on('keyup','#total',function(){
        calculate(true);
    });
    
    $(document).off('click','.popup-calculator input');
    $(document).on('click','.popup-calculator .input',function(){
        $(this).val('');
    });
    
</script>