    <div class="popup add-new-stock active">
        <div class="popup-body">

            <div class="views">
                <div class="view view-buy hide-scroll" data-id="buy">

                    <div class="header">                    
                        <h2>Buy</h2>
                        
                        <div class="funds hide">
                            <div class="icon icon-account_balance_wallet"></div>
                            <span class="funds-after">0,00</span>
                            <span class="funds-currency"></span>
                        </div>
                        
                        <!-- label is useless for longtime user, put to config one day.. -->
                        <div class="label hide">You are in silent mode (<a onclick="load_page('/settings')">see settings</a>). Transaction will be visible only for you and not ranked.</div>                    
                    </div>


                    <div class="steps form" data-current-step="1">                                        
                        <div class="step" data-step="1">             

                            <div id="autosuggestions" class="autosuggestions hide-scroll">
                                <div class="no-results"></div>
                            </div>

                            <div class="field input focus">
                                <label>Company / Symbol</label>
                                <input type="text" id="symbol" name="symbol" data-role="none" autocomplete="off" />                
                            </div>

                        </div>                    
                        <div class="step" data-step="2"> 

                            <div class="validation">Some of fields are empty</div>
                            <div class="field input focus symbol"></div>
                            <div class="field input focus">
                                <label id="add-new-stock-label-qty">Quantity:</label>
                                <input type="number" id="qty" name="qty" data-role="none" value="" />
                            </div>
                            
                            <div class="slidecontainer" style="display:none">
                                <input type="range" min="1" max="107659" step="1" value="107659" class="slider-range" >
                            </div>
                            
                            <div class="advanced">
                                <div class="advanced-header">
                                    <div class="icon icon-expand_more"></div>                                     
                                    <div class="title">Advanced options</div>                                       
                                </div>
                                <div class="advanced-body">
                                    <div class="row">
                                        <div class="option">Buy in</div>
                                        <select class="currency" id="currency" onchange="buy_reload_totals()"></select>
                                    </div>
                                    <div class="row" style="display:none">
                                        <div class="select-options">
                                            <div class="option active">
                                                <div class="icon icon-trending_up2"></div>
                                                <div class="title">Long</div>
                                            </div>
                                            <div class="option">
                                                <div class="icon icon-trending_up2" style="transform:scaleY(-1)"></div>
                                                <div class="title">Short</div>
                                            </div>                      
                                        </div>
                                    </div>
                                    <div class="row" style="display:none">
                                        <div class="select-options">
                                            <div class="option active no-icon">
                                                <div class="title">x1</div>
                                            </div>
                                            <div class="option no-icon">
                                                <div class="title">x2</div>
                                            </div>                      
                                            <div class="option no-icon">
                                                <div class="title">x4</div>
                                            </div>                                                          
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="option">Strategy</div>
                                        <select id="strategy">
                                            <option value="long" selected="SELECTED">Long</option>
                                            <option value="short">Short</option>                                            
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="option">Leverage</div>
                                        <select id="leverage">
                                            <option value="1" selected="SELECTED">x1</option>
                                            <option value="2">x2</option>
                                            <option value="4">x4</option>
                                            <option value="8">x8</option>
                                        </select>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <div class="field input-checkbox price-origin"> 
                                <div class="icon icon-expand_more"></div>
                                <input type="checkbox" id="price-origin" name="price-origin" data-role="none" checked="CHECKED" />
                                <label for="price-origin">Take current price: 
                                    <span class="price"></span>
                                    <span class="market-currency"></span><br />
                                    <span class="last-updated-at"></span>
                                </label>
                            </div>
                                                        
                            <div class="price-origin-historical hide">
                                <div class="info" onclick="load_page('/settings')">Historical transactions are available only in "Silent" mode. You are on "Player" mode (see settings).</div>
                                <div class="field input focus">
                                    <label id="add-new-stock-label-date">Date of transaction</label>
                                    <input type="date" id="date" name="date" data-role="none" disabled />
                                </div>                                                                       
                                <div class="field input focus">
                                    <label for="price">Price</label>
                                    <input type="number" id="price" name="price" data-role="none" disabled />
                                </div>
                            </div>

                            <input type="hidden" id="market"        name="market" />
                            <input type="hidden" id="currency_rate" name="currency_rate" />

                            <div class="summary">
                                <div class="row total-main"></div>
                                <div class="row total-additional"></div>
                            </div>

                        </div>                                                           
                    </div>                               

                </div>
                <div class="view view-sell hide-scroll" data-id="sell">
                    <div class="header">
                        <h2>Sell</h2>
                        
                        <div class="funds hide">
                            <div class="icon icon-account_balance_wallet"></div>
                            <span class="funds-after">0,00</span>
                            <span class="funds-currency"></span>
                        </div>
                        
                        <!-- label is useless for longtime user, put to config one day.. -->                        
                    </div>   
                    <div class="steps form" data-current-step="1">
                        <!--<div class="label info">You have got nothing to sell yet.</div>-->

                        <div class="step" data-step="1">

                            <div class="title">Select item to sell:</div>
                            <div class="items"></div>
                        </div>
                        <div class="step" data-step="2">

                            <div class="validation">Some of fields are empty</div>
                            <div class="form">
                                <div class="field input focus symbol"></div>
                                <div class="field input focus">
                                    <label for="total-qty-sell">Quantity to sell</label>
                                    <input type="number" id="total-qty-sell" name="total-qty-sell" data-role="none" value="" />
                                </div>
                                <div class="field input-checkbox price-origin">                            
                                    <input type="checkbox" id="price-origin" name="price-origin" data-role="none" checked="CHECKED" />
                                    <label for="price-origin">Take current price: 
                                        <span class="price"></span>
                                        <span class="market-currency"></span><br />
                                        <span class="last-updated-at"></span>
                                    </label>
                                </div>                      
                                <div class="price-origin-historical hide"> 
                                    <div class="info" onclick="load_page('/settings')">Historical transactions are available only in "Silent" mode. You are on "Player" mode (see settings).</div>
                                    <div class="field input focus">
                                        <label for="sold_date">Date of transaction</label>
                                        <input type="date" id="sold_date" name="sold_date" data-role="none" />
                                    </div>                                                                       
                                    <div class="field input focus">
                                        <label for="sold_price">Price</label>
                                        <input type="number" id="sold_price" name="sold_price" data-role="none" />
                                    </div>
                                </div>

                                <input type="hidden" id="symbol"        name="symbol" />
                                <input type="hidden" id="market"        name="market" />
                                <input type="hidden" id="currency"      name="currency" />
                                <input type="hidden" id="currency_rate" name="currency_rate" />

                            </div> 

                            <h3>You have got:</h3>
                            <div class="transactions">
                                <div class="transaction template hide" data-id="" data-purchased-qty="" data-purchased-price="" data-purchased-currency="">
                                    <div class="owned">
                                        <div class="qty"></div>
                                        <div class="purchased-price"></div>
                                    </div>
                                    <div class="for-sell"></div>
                                </div>                            
                            </div>

                            <!-- Totals, could be built on rows append(). -->
                            <div class="summary">
                                <div class="row total-main"></div>
                                <div class="row total-additional"></div>
                             </div>

                        </div>                                        
                    </div>

                </div>
            </div>

            <div class="tabs">
                <div class="tab buy active">Buy</div>
                <div class="tab sell">Sell</div>
            </div>
        </div>
    </div> 

    <script type="text/javascript">
        
        $.getScript('/extensions/wallet/media/js/actions_buy.js?version='+config.version); 
        $.getScript('/extensions/wallet/media/js/actions_sell.js?version='+config.version); 
        
        var transactions   = [];        
        function init_slick(){

           var initial_slide = 0;
           if (typeof options_popup !== 'undefined' && options_popup.hasOwnProperty('action') && options_popup.action==='sell'){ initial_slide=1; }

           $('.popup.add-new-stock .views').not('.slick-initialized').slick({
                arrows:false,
                dots:false,
                infinite: true,
                initialSlide:initial_slide,
                adaptiveHeight:true
            }).on('beforeChange', (event, slick, currentSlide, nextSlide) => {
                if (currentSlide !== nextSlide) { 

                    // Popup buttons refresh
                    $('.popup-btn.step2-btn').remove();               

                    switch (nextSlide){
                        case 0: 
                            if (parseInt($('.view-buy .steps').attr('data-current-step')) === 2){ 
                                button({ class: "popup-btn step2-btn icon-btn icon-check1" }, function(){ buy_save(); });
                                button({ class: "popup-btn step2-btn icon-btn icon-keyboard_backspace1" }, function(){ buy_step1(); });
                            }
                            $('.popup.add-new-stock .tabs .sell').removeClass('active');
                            $('.popup.add-new-stock .tabs .buy').addClass('active');
                            break;
                        case 1: 
                            if (parseInt($('.view-sell .steps').attr('data-current-step')) === 2){
                                button({ class: "popup-btn step2-btn icon-btn icon-check1" }, function(){ sell_save(); });
                                button({ class: "popup-btn step2-btn icon-btn icon-keyboard_backspace1" }, function(){ sell_step1(); });                          
                            }
                            $('.popup.add-new-stock .tabs .sell').addClass('active');
                            $('.popup.add-new-stock .tabs .buy').removeClass('active');
                            break;
                    }
                }          
            }); 
        }
        
        $(document).off('click', '.tabs .tab');
        $(document).on('click','.tabs .tab',function(){
            if ($(this).hasClass('buy')){
                $('.popup.add-new-stock .views').slick('slickGoTo',0);
            }
            else{
                $('.popup.add-new-stock .views').slick('slickGoTo',1);
            }
        });
        
        $(document).off('click', '.view-buy:not(.slick-cloned) .advanced-header');
        $(document).on('click','.view-buy:not(.slick-cloned) .advanced-header',function(){
            $(this).parents('.advanced').toggleClass('active').find('.advanced-body').slideToggle(300,'swing',function(){
                $('.popup.add-new-stock .slick-list').height($('.popup.add-new-stock .slick-current').outerHeight());
            });
            
        });
        
        // Price origin 
        $(document).off('change', '.popup.add-new-stock #price-origin');
        $(document).on('change', '.popup.add-new-stock #price-origin', function(e){        

            e.preventDefault();
            
            if ($(this).prop('checked') === true){
                $(this).parents('.form').find('.price-origin-historical').addClass('hide');
            }else{
                $(this).parents('.form').find('.price-origin-historical').removeClass('hide');
            }

            if (me.public === 0){ 
                $(this).parents('.form').find('.price-origin-historical input').prop('disabled',false);
                $(this).parents('.form').find('.price-origin-historical .info').hide();
            }else{                
                $(this).parents('.form').find('.price-origin-historical input').prop('disabled',true); 
            }

            // Slick adaptiveHeight
            $('.popup.add-new-stock .slick-list').height($('.popup.add-new-stock .slick-current').outerHeight());

        }); 
        
        get_currencies();
        init_slick();
        
        $(document).on('input','.add-new-stock .slider-range',function(){            
            $('.popup.add-new-stock .views').slick('slickSetOption','swipe',false,false);
        });
        $(document).on('change','.add-new-stock .slider-range',function(){
            $('.popup.add-new-stock .views').slick('slickSetOption','swipe',true,false);
        });

    </script>