<div class="popup add-new-stock active">
    <div class="popup-body">

        <div class="view view-sell hide-scroll" data-id="sell">
            <div class="header">
                <h2>Sell</h2>
                <div class="funds hide">
                    <div class="icon icon-account_balance_wallet"></div>
                    <span class="funds-after">0,00</span>
                    <span class="funds-currency"></span>
                </div>
            </div>   
            <div class="form">
                <div class="field input focus symbol"></div>
                <div class="field input focus">
                    <label for="total-qty-sell" class="qty-label">X</label>
                    <input type="number" id="total-qty-sell" name="total-qty-sell" data-role="none" value="" />
                </div>
                <div class="field input-checkbox price-origin">                            
                    <input type="checkbox" id="price-origin" name="price-origin" data-role="none" checked="CHECKED" />
                    <label for="price-origin">
                        <span class="last-updated-at">12.10.2022, 6:17 PM:</span>
                        <span class="price"></span>
                        <span class="market-currency"></span><br />                            
                    </label>
                </div>                      
                <div class="price-origin-historical hide"> 
                    <div class="field input focus">
                        <label for="sold_date">Date of transaction</label>
                        <input type="date" id="sold_date" name="sold_date" data-role="none" />
                    </div>                                                                       
                    <div class="field input focus">
                        <label for="sold_price">Price</label>
                        <input type="number" id="sold_price" name="sold_price" data-role="none" />
                    </div>
                </div>

                <input type="hidden" id="symbol"        name="symbol" />
                <input type="hidden" id="market"        name="market" />
                <input type="hidden" id="currency"      name="currency" />
                <input type="hidden" id="currency_rate" name="currency_rate" />

            </div> 
            <h3>You have got:</h3>
            <div class="transactions">
                <div class="transaction template hide" data-id="" data-purchased-qty="" data-purchased-price="" data-purchased-currency="">
                    <div class="owned">
                        <div class="qty"></div>
                        <div class="purchased-price"></div>
                    </div>
                    <div class="for-sell"></div>
                </div>                            
            </div>
            <div class="summary">
                <div class="row total-main"></div>
                <div class="row total-additional"></div>
             </div>
        </div>

    </div>
</div> 

<script type="text/javascript">

    var transactions   = [];        

    // Price origin 
    $(document).off('change', '.popup.add-new-stock #price-origin');
    $(document).on('change', '.popup.add-new-stock #price-origin', function(e){        
        e.preventDefault();

        if ($(this).prop('checked') === true){ $(this).parents('.form').find('.price-origin-historical').addClass('hide');
        }else{ $(this).parents('.form').find('.price-origin-historical').removeClass('hide'); }

        if (me.public === 0){ 
            $(this).parents('.form').find('.price-origin-historical input').prop('disabled',false);
            $(this).parents('.form').find('.price-origin-historical .info').hide();
        }else{                
            $(this).parents('.form').find('.price-origin-historical input').prop('disabled',true); 
        }
    }); 
</script>