<div class="popup add-new-stock active">
    <div class="popup-body">

        <div class="view view-sell hide-scroll" data-id="sell">
            <div class="header">
                <h2>Sell</h2>
                <div class="funds hide">
                    <div class="icon icon-account_balance_wallet"></div>
                    <span class="funds-after">0,00</span>
                    <span class="funds-currency"></span>
                </div>
            </div>   
            <div class="form">
                <div class="field input focus symbol"></div>
                <div class="field input focus">
                    <label for="total-qty-sell" class="qty-label">X</label>
                    <input type="number" id="total-qty-sell" name="total-qty-sell" data-role="none" value="" />
                </div>
                <div class="field input-checkbox price-origin">                            
                    <input type="checkbox" id="price-origin" name="price-origin" data-role="none" checked="CHECKED" />
                    <label for="price-origin">
                        <span class="last-updated-at">Current price:</span>
                        <span class="price"></span>
                        <span class="market-currency"></span><br />                            
                    </label>
                </div>                      

                <input type="hidden" id="symbol"        name="symbol" />
                <input type="hidden" id="market"        name="market" />
                <input type="hidden" id="currency"      name="currency" />
                <input type="hidden" id="currency_rate" name="currency_rate" />

            </div> 
            <h3>You have got:</h3>
            <div class="transactions">
                <div class="transaction template hide" data-id="" data-purchased-qty="" data-purchased-price="" data-purchased-currency="">
                    <div class="owned">
                        <div class="qty"></div>
                        <div class="purchased-price"></div>
                    </div>
                    <div class="for-sell"></div>
                </div>                            
            </div>
            <div class="summary">
                <div class="row total-main"></div>
                <div class="row total-additional"></div>
            </div>
            
            <div class="tab-container hide" data-mode="historical">
                <div class="tab-header">
                    <h2>Historical Transaction</h2>
                    <div class="expand icon-expand_more"></div>
                </div>
                <div class="tab-content form">
                    <div class="changer-v2">
                        <label for="mode"><b>Date</b></label>
                        <input type="date" id="sold_date" name="sold_date" data-role="none" disabled />
                    </div>
                    <div class="changer-v2">
                        <label for="mode"><b>Price</b></label>
                        <input type="number" id="sold_price" name="sold_price" data-role="none" disabled />
                    </div>                                
                </div>                        
            </div>            
        </div>

    </div>
</div> 

<script type="text/javascript">

    var transactions   = [];        

    $(document).ready(function(){
        if (me.mode === "historical"){
            $('[data-mode="historical"]').removeClass("hide");
            $('[data-mode="historical"] input').prop('disabled',false);
        } 
    });
    $(document).off('keyup','[data-mode="historical"] #sold_price');
    $(document).on('keyup','[data-mode="historical"] #sold_price',function(){
        $('.price-origin .price').text($(this).val());
    });
    $(document).off('change','[data-mode="historical"] #sold_date');
    $(document).on('change','[data-mode="historical"] #sold_date',function(){
        let date = new Date($(this).val());
        $('.price-origin .last-updated-at').text(format_date(date.getTime()));
    });
    
</script>